[2020-05-28 05:21] #3103 closed

[2020-05-28 05:22] bladey commented on #3139
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:22] #3139 closed

[2020-05-28 05:23] bladey commented on #3175
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:23] #3175 closed

[2020-05-28 05:23] bladey commented on #3183
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:23] #3183 closed

[2020-05-28 05:24] bladey commented on #3189
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:24] #3189 closed

[2020-05-28 05:24] bladey commented on #3198
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:24] #3198 closed

[2020-05-28 05:25] bladey commented on #3231
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:25] #3231 closed

[2020-05-28 05:28] jja-financial-com opened #4062 "Keyboard accessibility fails when JAWS is ON"
Hi,
We are doing a accessibility testing on a widget that we developed containing a react select drop down. Using JAWS screen reader, the select is not usable via keyboard. Down arrow key opens the select but pressing enter while focusing on a new option will not change the value of the select.

Initially we thought this was due to some misconfiguration from our side, but testing on examples provi

[2020-05-28 05:53] #3529 closed

[2020-05-28 05:55] bladey commented on #3594
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:55] #3594 closed

[2020-05-28 05:57] bladey commented on #3606
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 05:57] #3606 closed

[2020-05-28 05:57] bladey commented on #3608
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:00] bladey commented on #3648
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:01] bladey commented on #3678
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:01] #3678 closed

[2020-05-28 06:02] bladey commented on #3700
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:02] #3700 closed

[2020-05-28 06:03] bladey commented on #3711
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:03] #3711 closed

[2020-05-28 06:03] bladey commented on #3717
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:03] #3717 closed

[2020-05-28 06:04] bladey commented on #3513
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:04] #3513 closed

[2020-05-28 06:04] bladey commented on #3523
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:04] #3523 closed

[2020-05-28 06:04] bladey commented on #3525
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:04] #3525 closed

[2020-05-28 06:05] bladey commented on #3543
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:05] bladey commented on #3545
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:05] #3545 closed

[2020-05-28 06:05] bladey commented on #3549
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:05] #3549 closed

[2020-05-28 06:06] bladey commented on #3551
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:06] #3551 closed

[2020-05-28 06:06] bladey commented on #3552
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:06] #3552 closed

[2020-05-28 06:07] bladey commented on #3570
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:07] #3570 closed

[2020-05-28 06:07] bladey commented on #3572
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:07] #3572 closed

[2020-05-28 06:09] bladey commented on #3418
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:09] #3418 closed

[2020-05-28 06:09] bladey commented on #3424
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:09] #3424 closed

[2020-05-28 06:09] bladey commented on #3425
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:09] #3425 closed

[2020-05-28 06:10] #3439 closed

[2020-05-28 06:11] bladey commented on #3456
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:11] #3456 closed

[2020-05-28 06:11] bladey commented on #3462
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:11] #3462 closed

[2020-05-28 06:11] bladey commented on #3474
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:11] #3474 closed

[2020-05-28 06:12] bladey commented on #3481
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:12] #3481 closed

[2020-05-28 06:12] bladey commented on #3491
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:12] bladey commented on #3495
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:12] #3495 closed

[2020-05-28 06:12] bladey commented on #3496
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:12] #3496 closed

[2020-05-28 06:13] bladey commented on #3499
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:13] #3499 closed

[2020-05-28 06:14] bladey commented on #3510
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:14] #3510 closed

[2020-05-28 06:15] bladey commented on #3505
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:15] #3505 closed

[2020-05-28 06:16] bladey commented on #3740
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:16] #3740 closed

[2020-05-28 06:16] bladey commented on #3743
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:16] #3743 closed

[2020-05-28 06:18] bladey commented on #3748
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:18] #3748 closed

[2020-05-28 06:18] bladey commented on #3755
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:18] #3755 closed

[2020-05-28 06:19] bladey commented on #3758
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:19] #3758 closed

[2020-05-28 06:19] bladey commented on #3760
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:19] #3760 closed

[2020-05-28 06:20] bladey commented on #3763
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:20] #3763 closed

[2020-05-28 06:20] bladey commented on #3764
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:20] #3764 closed

[2020-05-28 06:20] bladey commented on #3765
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:20] #3765 closed

[2020-05-28 06:21] bladey commented on #3766
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:21] #3766 closed

[2020-05-28 06:26] bladey commented on #3777
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:26] #3777 closed

[2020-05-28 06:27] bladey commented on #3775
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-28 06:27] #3775 closed

[2020-05-28 08:17] corysimmons commented on #3608
![image](https://user-images.githubusercontent.com/224636/83116650-10791580-a09a-11ea-9eb5-318466aadae3.png)

Still a problem. Still a 5 second fix.

[2020-05-28 08:46] bladey commented on #3608
Thanks for your reply @corysimmons.

[2020-05-28 12:26] Neurrone commented on #1399
Can this issue be reopened? I just checked the website and it is still reproduceable.

Closing the issue doesn't mean that it is fixed, and only increases the likelihood of it not being addressed because its not as visible.

[2020-05-28 15:50] JedWatson commented on #1399
@Neurrone I believe @bladey closed the issue because it was opened against v1 of react-select, so as reported and discussed it's out of date and we're wrestling our backlog back under control. But agreed that if there are accessibility issues with the current version, we should have an open issue to track them.

I just checked the first example on https://react-select.com and the main issue discus

[2020-05-28 16:28] JedWatson commented on #3608
oof, thanks for surfacing this @corysimmons (again!)

I just pushed a redirect to the `gh-pages` branch, so it should be all fixed now.

[2020-05-28 16:28] #3608 closed

[2020-05-28 16:34] JedWatson commented on #4059
React-Select now requires React version `^16.8.0` which is why you're getting errors.

For better or worse, you'll either need to update your version of React, or stay with the version of react-select you're using (or at least, you could move off rc.10 to the latest version on the 1.x branch which is `1.3.0` but I'm not sure if that will solve the performance problem you're seeing.

[2020-05-28 16:34] #4059 closed

[2020-05-28 16:40] JedWatson commented on #4032
Hi @goxr3plus sorry that's unclear in the documentation.

v3 does have AsyncCreatable, we split it out for code side reasons though, so now you need to import it like this:

[code]

I'm not sure about having both versions on the same page tbh; you might be able to hack it in by loading the old version from [unpkg](https://unpkg.com/) but I'd recommend upgrading everywhere to the new version if you

[2020-05-28 16:40] #4032 closed

[2020-05-28 16:43] JedWatson commented on #3993
I'm not sure about this issue... can't reproduce and it's just the template so I'm going to close it

[2020-05-28 16:43] #3993 closed

[2020-05-28 16:47] JedWatson commented on #3931
Thanks @davidcostadev!

Unfortunately we can't publish an official 1.x release with the fixed lifecycle methods because they're not available in the version of react (15) that 1.x is using and I know some people haven't upgraded to react 16 version yet who still use react-select v1.

So anyone who has this problem will need to fork it themselves, as you have.

[2020-05-28 16:47] #3931 closed

[2020-05-28 17:08] JedWatson commented on #3775
Just as we close this out, I've got a couple of suggestions:

As @rationalthinker1 said, you can add a min-height, the alternative for that if you don't want to put the styles in your stylesheet is to use the styles override:

[code]

Probably a better solution is to actually give the option a label though, and style it so the text is transparent (@hyphen1370 asked about whether you can do this)

[2020-05-28 17:48] JedWatson commented on #3910
👋 Hi everyone, I wanted to introduce @bladey who's also started helping get issues and PRs into shape with @flexdinesh, @gwyneplaine and myself. You might notice we have several hundred less open today than we did yesterday, and will keep working through them to wrestle things under control.

Something I've noticed over time with react-select is people do get in and help ❤️ but it's a challenging

[2020-05-28 17:48] #3910 closed

[2020-05-28 17:51] JedWatson commented on #3910
Oops, did not actually mean to close this, I've been pressing that button a lot tonight 😅

I might leave it closed though as hopefully I've answered enough, and everyone can see the activity has picked up after some time away.

We'll leave it pinned for a while though, and don't take the close as me shutting down the conversation.

[2020-05-29 02:46] ebonow commented on #4057
This is a CSS question regarding **specificity**

Try using the selector
[code]

or even...

[code]

Please try this and consider closing this question if this solution works for you.

[2020-05-29 04:19] ebonow commented on #4008
Threw something together fairly quick and dirty, but it's fairly straight forward once you have the classNames in place.

Here's a sandbox I threw together modifying one of the examples.
https://codesandbox.io/s/react-codesandboxer-example-yudf4?file=/example.js

Here's a quick breakdown of it in case the link breaks:
[code]

1) **className** - Let's call it _react-select--inline_ so you can reuse

[2020-05-29 05:34] bladey commented on #4043
Hello -

In an effort to sustain the `react-select` project going forward, we're closing  issues that appear to be resolved.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you!

[2020-05-29 05:34] #4043 closed

[2020-05-29 05:47] bladey commented on #4005
Hello -

In an effort to sustain the `react-select` project going forward, we're closing  issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and re-open if necessary.

[2020-05-29 05:47] #4005 closed

[2020-05-29 05:51] bladey commented on #3996
Thanks for your assistance @ebonow.

@Lord-Mendoza -

In an effort to sustain the `react-select` project going forward, we're closing  issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you,

[2020-05-29 05:51] #3996 closed

[2020-05-29 05:55] bladey commented on #3221
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-29 05:55] #3221 closed

[2020-05-29 05:58] bladey commented on #3223
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

Please see pull request https://github.com/JedWatson/react-select/pull/3645 for a possible solution.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you!

[2020-05-29 05:58] #3223 closed

[2020-05-29 06:07] bladey commented on #3037
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-29 06:07] #3037 closed

[2020-05-29 06:09] bladey commented on #3489
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-29 06:09] #3489 closed

[2020-05-29 06:11] bladey commented on #2016
Hello -

As @IanVS has mentioned, this issue is similar to #1453 which will be left open.

In an effort to sustain the `react-select` project going forward, we're closing old issues or issues that may be duplicates.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't u

[2020-05-29 06:11] #2016 closed

[2020-05-29 06:13] bladey commented on #3615
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-29 06:13] #3615 closed

[2020-05-29 06:18] bladey commented on #3674
Hello @nikhil-seban,

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues y

[2020-05-29 06:18] #3674 closed

[2020-05-29 06:20] bladey commented on #1515
Hello -

In an effort to sustain the `react-select` project going forward, we're closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

[2020-05-29 06:20] #1515 closed

[2020-05-29 06:22] bladey commented on #3306
Hello -

Thanks for your assistance @nicolas-zozol.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, a

[2020-05-29 06:22] #3306 closed

[2020-05-29 06:35] bladey commented on #3693
@JedWatson is this intended?

[2020-05-29 06:41] bladey commented on #3696
Hi @M-Yankov,

It appears PR https://github.com/JedWatson/react-select/pull/4034 might have solved this - which will be released shortly.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

[2020-05-29 06:41] #3696 closed

[2020-05-29 06:51] bladey commented on #3389
Hey @akx and @Methuselah96,

We are in fact considering switching to TypeScript for the next release of `react-select`, as outlined here - https://github.com/JedWatson/react-select/issues/3910#issuecomment-635499277

I encourage you to leave a comment in the pinned issue to express your interest in helping porting to TypeScript, for now I'll close this issue.

However, if you feel this issue is st

[2020-05-29 06:51] #3389 closed

[2020-05-29 06:52] bladey commented on #3379
Hi all,

Thanks for your assistance @Rall3n, @matthova, and @knegusen.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to

[2020-05-29 06:52] #3379 closed

[2020-05-29 06:54] Methuselah96 commented on #3910
@JedWatson @bladey I've started working on porting this project to TypeScript today. You can see the progress I've made so far here: https://github.com/JedWatson/react-select/compare/master...Methuselah96:typescript. I'll open a PR when it's ready.

[2020-05-29 07:08] bladey commented on #3397
Thanks for your assistance @Rall3n!

@mrinnetmaki @johneakin -

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get bac

[2020-05-29 07:08] #3397 closed

[2020-05-29 07:11] bladey commented on #3834
Hi @grsoares21,

It looks like the latest version of Firefox has resolved this, if it is still an issue for you, could you please let me know.

[2020-05-29 07:11] #3834 closed

[2020-05-29 07:18] bladey commented on #3704
Hi all,

In an effort to sustain the `react-select` project going forward, we're closing old issues such as this one.

However, if you feel it is still relevant and you're still having issues - and you'd like us to review it - please provide a Codesandbox link and we'll look into it.

[2020-05-29 07:18] #3704 closed

[2020-05-29 07:57] corysimmons commented on #3608
No worries. Thanks for all your contributions to the ecosystem! =)

[2020-05-29 08:07] M-Yankov commented on #3696
@bladey  In which version to expect the new functionality?

[2020-05-29 09:15] rusakovic commented on #3632
@bladey Hello.

Thank you. But issue is still here.
If you remove value from input dropdown field by pressing `backspace`, returned value will be `null` but not `[]`
react-select 3.1.0

[2020-05-29 09:34] akhilaudable commented on #3632
+1

[2020-05-29 11:10] volkanunsal commented on #4037
It should be a warning, but it's printed as an error by React.

![Screen Shot 2020-05-29 at 7 07 57 AM](https://user-images.githubusercontent.com/151600/83253713-712c4f00-a17b-11ea-897b-4fd014811661.png)

[2020-05-29 11:38] darshikagupta opened #4063 "No cursor to enter text when once user right clicks on the textbox in Mac-OS"
No cursor to enter text when once user right clicks on the textbox in Mac-OS. Only when user now clicks outside the text box does the cursor appears.

Tried a lot to resolve but saw the same functionality in the official site.

[2020-05-29 12:20] akondratsky commented on #4061
Sharing results of my investigation of this issue.

1. If I set `defaultMenuIsOpen={true}`, menu doesn't close on blur or selecting an option.

2. If I click once on input, menu will close on blur or selection an option.

3. Enabling `autoFocus` option doesn't help.

4. Calling `select.inputRef.focus()` of current Select's ref doesn't help

5. It works when focusing has async character, f.e.:
[cod

[2020-05-29 15:47] Methuselah96 commented on #3910
@JedWatson @bladey I'm thinking that it will make sense to convert the `docs` to TypeScript first using `@types/react-select`. The docs will then serve as make-shift TypeScript tests when converting the main package. What do you think of that plan?

Also would you prefer one large PR that converts the entire `docs` folder to TypeScript or should I try to incrementally convert in smaller PRs so tha

[2020-05-29 18:15] ebonow commented on #4039
@artooras I believe you might be looking for the following answer and also replied to the SO post. While the select reference does support a few methods directly on the input element (focus and blur), it does not expose a select method in the same manner.

For that you would need to directly access the inner component input reference which conceptually would look like the following:

selectRef ->

[2020-05-29 19:18] ebonow commented on #4049
@jibberishclient
**className** string
Sets a className attribute on the outer component

**classNamePrefix** string
If provided, all inner components will be given a prefixed className attribute.

Is this what you are looking for?

[2020-05-30 01:59] manualva7 commented on #4050
What have you tried so far?

[2020-05-30 09:01] jarvistesting opened #4065 "Unable to select any menu option in firefox mobile view in ubuntu."
### Thanks for using react-select!

Firefox version : 76.0.1 (64-bit)
react-select version : 3.1.0

when we click on select it opens menu and within a sec. it get disapper automatically.
when we do double click on select then menu options doesn't disappear

[2020-05-30 09:48] Slind14 commented on #2910
Hi @bladey,
this is an ongoing issue. We are still using the old version due to this breaking change. It seems to affect a lot of people. Maybe it is worth the consideration of opening it, again?

[2020-05-30 10:15] bladey commented on #2910
Thanks @Slind14!

[2020-05-30 10:18] bladey commented on #3632
Thanks @rusakovic!

[2020-05-30 10:24] bladey commented on #3696
@M-Yankov it's been merged into master, so I expect it will be in the next version which will be v3.1.1 or v3.2.0, it should be released next week - https://github.com/JedWatson/react-select/releases

[2020-05-30 10:29] bladey commented on #3992
Hello -

Thanks for your assistance @alexristich!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However @darthzeran, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back

[2020-05-30 10:29] #3992 closed

[2020-05-30 10:32] bladey commented on #3991
Hello -

Thanks for your help @eldh, we'd appreciate a PR if you have the time!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do ou

[2020-05-30 10:32] #3991 closed

[2020-05-30 10:34] bladey commented on #3978
Hello -

Thanks for your assistance @ebonow!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However @KleonTsimperis, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back

[2020-05-30 10:34] #3978 closed

[2020-05-30 10:38] bladey commented on #3956
Hello -

Thanks for your assistance @utamanna!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we

[2020-05-30 10:38] #3956 closed

[2020-05-30 10:42] bladey commented on #3947
Hello -

Thanks for your assistance @alexristich!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However @Simpleqode, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back

[2020-05-30 10:42] #3947 closed

[2020-05-31 08:39] salletti commented on #4065
Same problem with macosx:

[code]

[2020-06-01 00:17] bladey commented on #3912
Hello @jt3k, if you could provide a Code Sandbox that would be ideal!

[2020-06-01 00:19] bladey commented on #3909
Hi @randal923, it looks like this issue was resolved by yourself.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

[2020-06-01 00:19] #3909 closed

[2020-06-01 00:34] bladey commented on #3900
Hi all,

It looks like this TypeScript issue has been resolved as per @damianprzygodzki, @danieldelcore, and @arthurmmedeiros responses.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

Thanks!

[2020-06-01 00:34] #3900 closed

[2020-06-01 00:42] bladey commented on #3912
Hi all, this appears to be a duplicate of #3880, I'll close this issue as the original issue has a Code Sandbox link.

If you feel this issue is not the same and you'd like us to review it - please leave a comment and we'll do our best to get back to you.

[2020-06-01 00:42] #3912 closed

[2020-06-01 00:45] bladey commented on #3894
Hello @KSK3107,

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

However, if this issue is still relevant and you'd like us to review it - please leave a comment and we'll

[2020-06-01 00:45] #3894 closed

[2020-06-01 03:25] bladey commented on #3864
Hey @guille-alibrate,

Thanks for logging this issue.

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

However - if the issues you've outlined above are still relevant to

[2020-06-01 03:25] #3864 closed

[2020-06-01 11:07] Libida opened #4066 "[IE11] Different order of calls onChange and onBlur"
If to add console.log for onChange and onBlur than **in all browsers** (except IE11) you get:
onBlur
onChange

**In IE11:**
onChange,
onBlur

Potentially could cause other bugs.

[2020-06-01 14:17] prayas26 commented on #3376
facing same issue

[2020-06-01 15:27] Pomax commented on #1254
it might be 4 years old, but unless this got done this is _technically_ a UX and accessibility bug: elements should be assigned focus by the browser, based on what it knows about whether code or a user did something. It should never indiscriminately claim focus on its own.

[2020-06-01 17:33] ebonow commented on #3910
Thank you both @JedWatson and @bladey for closing most of the issues. It was something that made it hard to identify existing issues vs implementation questions/feature requests.

As someone who has played a role as a very minor part time role as an open source gardener, I have been wondering if there would be community interest in having some kind of gallery or cookbook for different `react-selec

[2020-06-01 18:25] vitaly-zdanevich opened #4067 "Dark theme for documentation"
Please do not ignore [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme).

[2020-06-01 23:52] bladey commented on #1254
Thanks @Pomax!

[2020-06-02 00:56] bladey commented on #4061
Hi @claudvanbarret,

I can reproduce this issue using `defaultMenuIsOpen={true}` however it's intended not to close by default as the select isn't focused.

There is no blur because you haven't actually focused it.

You can change this by using `autoFocus={true}` in addition to `defaultMenuIsOpen={true}`, the menu will then be closed on blur.

This works for me as shown below, but it sounds like i

[2020-06-02 05:54] bladey commented on #2864
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-02 05:54] #2864 closed

[2020-06-02 05:56] bladey commented on #3007
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-02 05:56] #3007 closed

[2020-06-02 05:56] bladey commented on #1875
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-02 05:56] #1875 closed

[2020-06-02 05:56] bladey commented on #1476
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-02 05:56] #1476 closed

[2020-06-02 05:57] bladey commented on #1800
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-02 05:57] #1800 closed

[2020-06-02 05:58] bladey commented on #1682
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues. It appears this issue has been addressed in #1732.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you!

[2020-06-02 05:58] #1682 closed

[2020-06-02 06:05] bladey commented on #2594
Hi all,

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments (such as @simsman2695's answer).

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version (v3) and beyond.

However, if you feel this iss

[2020-06-02 06:05] #2594 closed

[2020-06-02 06:06] bladey commented on #2558
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version (v3) and beyond.

If you aren't using the latest version of `react-select` please consider upgrading to see if it re

[2020-06-02 06:06] #2558 closed

[2020-06-02 06:44] airtonix commented on #3938
I'm not sure you've investigated this fully enough to be able to make such authoritative statements:

https://github.com/JedWatson/react-select/blob/master/packages/react-select/src/Select.js#L220-L222

[2020-06-02 10:39] sirjuan commented on #3988
We also encountered this bug, and can confirm @nikitaindik PR will fix the problem.

[2020-06-02 11:28] claudvanbarret commented on #4061
Hello @bladey.

Indeed, the bug is no happening. Was there a recent update?

I think using `autoFocus={true}` in `addition to defaultMenuIsOpen={true}` can resolve my problem.

Thanks.

[2020-06-02 12:23] dougg0k opened #4068 "Deprecate warning findDOMNode in StrictMode"
Hi,

The title.

[code]

[2020-06-02 13:17] oleksandrnurzhanov commented on #3818
Just want to add that React-Select also has next problems while using JAWS screen reader.

**STR:**
1. Go to [React select home page](https://react-select.com/home)
2. Run JAWS screen reader
3. Use keyboard to select an item from list

**Actual results:**
- background is not changing when item from list is selected
- it is not possible to select an item by pressing on Enter/Space keyboard button

[2020-06-03 00:16] bladey commented on #4061
Hi @claudvanbarret,

The last update was on 22nd March -- https://github.com/JedWatson/react-select/releases/tag/react-select%403.1.0

It looks like one of the bug fixes may have resolved this problem.

[2020-06-03 00:16] #4061 closed

[2020-06-03 00:30] bladey commented on #3443
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'l

[2020-06-03 00:30] #3443 closed

[2020-06-03 00:30] bladey commented on #3612
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'l

[2020-06-03 00:36] bladey commented on #1086
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version (v3 and beyond).

However, if you feel this issue is still relevant and you'd like us to review it - please leave a

[2020-06-03 00:36] #1086 closed

[2020-06-03 00:48] bladey commented on #3592
Hi all,

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

[2020-06-03 00:48] #3592 closed

[2020-06-03 00:49] bladey commented on #2810
Hi all,

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

[2020-06-03 00:49] #2810 closed

[2020-06-03 01:42] bladey commented on #3831
Hi all,

@brandonparis we'd appreciate a PR for this if you're able! For now I'll close this issue as we're cleaning up and closing old issues to keep things under control.

However, if you feel this issue should be reopened - please leave a comment.

[2020-06-03 01:43] bladey commented on #3698
Hi all -

Thanks for your assistance @jjstobbe, it's greatly appreciated.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best

[2020-06-03 01:43] #3698 closed

[2020-06-03 01:44] bladey commented on #1276
Hi all -

Thanks for your solutions to this issue.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, an

[2020-06-03 01:44] #1276 closed

[2020-06-03 01:48] bladey commented on #3754
Hello -

Thanks for your input @ratmirslv.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll

[2020-06-03 01:48] #3754 closed

[2020-06-03 01:57] bladey commented on #3030
Hi all,

Thanks for all your helpful answers.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'

[2020-06-03 01:57] #3030 closed

[2020-06-03 02:01] bladey commented on #3848
Hello -

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to be duplicates or are now redundant.

As @PythooonUser has stated, this appears to be a duplicate of #2729.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary

[2020-06-03 02:01] #3848 closed

[2020-06-03 02:03] #375 closed

[2020-06-03 03:09] bladey commented on #405
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-03 03:09] #405 closed

[2020-06-03 03:10] bladey commented on #532
Hi all,

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-03 03:11] bladey commented on #598
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-03 03:11] #598 closed

[2020-06-03 03:13] bladey commented on #810
Hi all,

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

[2020-06-03 03:13] #810 closed

[2020-06-03 03:15] bladey commented on #944
Hello -

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

[2020-06-03 03:15] #944 closed

[2020-06-03 03:17] bladey commented on #1075
Hello -

Thanks for your assistance @kovinchuk! - https://github.com/JedWatson/react-select/issues/1075#issuecomment-515380725

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to rev

[2020-06-03 03:17] #1075 closed

[2020-06-03 03:20] bladey commented on #1317
Hello -

Thanks for your assistance @Rall3n and @zeevl!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to yo

[2020-06-03 03:20] #1317 closed

[2020-06-03 03:32] bladey commented on #1322
Hi all,

Thank you for all the input and solutions to this issue.

Going forward into the next major version, we will take into account the demand for making the height of `react-select` more easily adjustable.

In an effort to sustain the `react-select` project, we're closing issues that have been resolved via community comments.

[2020-06-03 03:32] #1322 closed

[2020-06-03 03:39] bladey commented on #1377
Hi @vijayst and @Siignature,

Could you please provide a Code Sandbox link running the latest version of `react-select` with an example of your issue.

The `plnkr.co` link does not appear to be working.

[2020-06-03 03:40] bladey commented on #1380
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-03 03:40] #1380 closed

[2020-06-03 03:41] bladey commented on #1401
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version v3 and beyond.

If you aren't using the latest version of `react-select` please consider upgrading to see if it reso

[2020-06-03 03:41] #1401 closed

[2020-06-03 08:59] mbonaci commented on #3607
@karlingen can you please confirm that your PR fixes this issue (the last comment in your PR by @amitquoine claims otherwise)?

[2020-06-03 09:40] JedWatson commented on #2953
For completeness, the props `formatCreateLabel`, `isValidNewOption` and `getNewOptionData` props were introduced to `Creatable` to fix this and other related issues - [docs here](https://react-select.com/props#creatable-props)

If anybody comes across this issue and is experiencing something similar to the problems described here, please open a new issue with details so we can track down anything

[2020-06-03 09:41] JedWatson commented on #2998
For completeness, the props `formatCreateLabel`, `isValidNewOption` and `getNewOptionData` props were introduced to `Creatable` to fix this and other related issues - [docs here](https://react-select.com/props#creatable-props)

If anybody comes across this issue and is experiencing something similar to the problems described here, please open a new issue with details so we can track down anything

[2020-06-03 09:49] Alacho2 commented on #3871
Opening it up again

[2020-06-03 10:36] karlingen commented on #3607
@mbonaci confirmed. Please check the latest comment by @amitquoine

[2020-06-03 10:48] ebaynaud commented on #3831
This one should be addressed, keep it open please!

[2020-06-03 10:58] brandonparis commented on #3831
I’ll submit a PR when I have a minute.

[2020-06-03 11:00] ebaynaud commented on #3831
@brandonparis take a pause, do it now :)

[2020-06-03 11:31] brandonparis commented on #3831
Does it also make sense to use `cursor:pointer` for the `x` that clears a clearable input?

[2020-06-03 11:33] ebaynaud commented on #3831
Sure, all clickable elements require a pointer

On Wed 3 Jun 2020 at 13:31, Brandon Paris <notifications@github.com> wrote:

--
Erwan

[2020-06-03 13:50] m-reyes-h opened #4070 "Browser boundaries"
The component does not respect the browser boundaries. It try to make some more room if the option list is greater than the parent component or the browser it self

[2020-06-03 17:57] canercak commented on #1502
why are you closing it? simplevalue does not work for creatable.

[2020-06-03 18:26] jcuffe commented on #3723
@Xartok I came here looking for the `addNewOption` method, which doesn't seem to exist. Did you make it up for the purposes of your example, or is there a method exposed by the library that allows this?

[2020-06-03 23:23] yagudaev commented on #3066
Got this same issue today, can verify that using `null` instead of `undefined` did the trick.

[2020-06-03 23:41] bladey commented on #1502
Thanks for the feedback @canercak, much appreciated.

[2020-06-03 23:42] bladey commented on #4070
Hi @m-reyes-h,

Thanks for reporting this issue, could you please provide a code sandbox link which demonstrates the issue?

[2020-06-03 23:44] bladey commented on #3831
Thanks @ebaynaud and @brandonparis!

[2020-06-03 23:46] bladey commented on #3871
Thanks for the feedback @Alacho2, much appreciated.

[2020-06-04 02:06] m-reyes-h commented on #4070
Here is an example, let me know if ...

[Sandbox](https://codesandbox.io/s/strange-brahmagupta-1ejrp?file=/src/App.js)

[2020-06-04 02:06] bladey commented on #4070
Thanks @m-reyes-h!

[2020-06-04 02:48] bladey commented on #3025
Hi @Nasmar,

Thanks for bringing this to our attention.

It looks like this has since been resolved - react-select.com/advanced

Please let me know if I'm wrong and I'll reopen this issue!

[2020-06-04 02:48] #3025 closed

[2020-06-04 02:57] bladey commented on #3263
Hi all,

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and we'll re-open it if necessary.

[2020-06-04 02:57] #3263 closed

[2020-06-04 06:55] JedWatson commented on #3910
@ebonow I love that idea! we should definitely add that as a page to the site (could probably replace/expand on the current "experimental" section of the advanced page)

[2020-06-04 07:47] dgwyer commented on #4037
I'm getting the same warning/error. Hopefully, an update can be released soon.

[2020-06-04 07:49] dgwyer commented on #4068
I'm seeing the same warning. There are several different types of these warnings popping up. It would be great if an update could be released to fix them.

[2020-06-04 08:35] canercak opened #4071 "CreatableSelect simplevalue not working"
I'm trying to make CreatableSelect work with simplevalue={true} as it works for normal multiselect. It generates value-label objects all the time such as [{value: "material", label: "material}]. What I need is just ['material'].

I tried to changing the code as below without any succcess.
line 23 of creatable/dist/react-select.cjs.js and all others
[code]
anyone who is experienced in the code can

[2020-06-04 09:31] h0jeZvgoxFepBQ2C commented on #2674
Omg... just stumbled over this issue and I thought react-select was bugged... wtf.. This is really not intuitive 😕

[2020-06-04 09:41] hanzlahabib opened #4072 "When multi select is enabled it should pass data as Array but it passes simple string values separated by comma"
i am having form where i am selecting multiple tags, and when i submit it should pass data as array of tags but it passes as string tags separated by commas,

is there anything i am missing?

I can fix it in handleChange but i am looking for any built in flags that do this job

[2020-06-04 11:24] dougg0k commented on #4068
Yes, that was only one case.

[2020-06-04 14:45] bfiorito opened #4073 "Custom MultiValue but keeping default MultiValueRemove"
Hi guys,
I'm trying to simply customize a label with an icon, here's the code:
[code]

and then passing components to Select
[code]

But i'm not able to keep the default MultiValueRemove icon to remove current item.

I tried to customize MultiValueRemove and MultiValue then customize MultiValueLabel and MultiValueRemove but still not displaying the cross.

What am i doing wrong guys ?

Thanks in a

[2020-06-04 21:29] matabgaryan commented on #685
dropdownIndicator: (provided, state) => ({
          ...provided,
          color: '#0D51FF',
          cursor:'pointer',
          'svg':{
            width:'24px',
            height:'22px',
            '&hover':{
              color:'#0D51FF',
            },
          },
        }),

[2020-06-04 22:57] dguerreros93 opened #4074 "Multi select don't work with 'IsMulti' prop! You need to change this for 'multi'"
the example code for a multi select in the Doc look like that:
`import React from 'react';

import Select from 'react-select';
import { colourOptions } from '../data';

export default () => (
  <Select
    defaultValue={[colourOptions[2], colourOptions[3]]}
    isMulti
    name="colors"
    options={colourOptions}
    className="basic-multi-select"
    classNamePrefix="select"
  />
);`

But, the "

[2020-06-05 00:16] bladey commented on #532
Thanks for the feedback @nuxf10ir, much appreciated.

[2020-06-05 01:31] trevorglick commented on #3052
just ran into this, we're on react-select 3.0.8 this is what the state object shows in the input api:
`aria-autocomplete: "list"
aria-label: undefined
aria-labelledby: undefined
autoCapitalize: "none"
autoComplete: "off"
autoCorrect: "off"
id: "react-select-19-input"
onBlur: ƒ (event)
onChange: ƒ (event)
onFocus: ƒ (event)
spellCheck: "false"
tabIndex: "0"
theme: {borderRadius: 4, colors: {…}, spa

[2020-06-05 02:38] bradennapier commented on #1397
Def still needed!  Especially if a PR exists

[2020-06-05 02:52] bladey commented on #1397
Thaks @bradennapier!

[2020-06-05 03:49] bladey commented on #1020
Hello -

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

However, if you feel this

[2020-06-05 03:49] #1020 closed

[2020-06-05 04:57] itsmadhusudhan commented on #4074
It worked for me. The default value will be selected and upon selecting other it will be added to the selected list.

check if there is any problem with passing the default value.

[code]

I have tested this is latest version 3.1.0

[2020-06-05 05:12] bladey commented on #832
Hi all,

Thank you everyone who had a part in addressing this question.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments.

However, if you feel this issue is still relevant and you'd like us to review it or have any suggestions - please leave a comment and we'll do our best to get back to you, and we'll

[2020-06-05 05:12] #832 closed

[2020-06-05 05:25] razh commented on #4074
You're on version 1.x. `multi` was renamed to `isMulti` in the 2.x rewrite:

https://react-select.com/upgrade-guide#prop-update-guide

https://github.com/JedWatson/react-select/blob/26b7f221e3e2d88fa77042a9df81f5f84ea10ac4/docs/pages/upgradeGuide/props.js#L88

[2020-06-05 05:31] bladey commented on #856
Hi all,

Thank you everyone who had a part in addressing this question.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments.

However, if you feel this issue is still relevant and you'd like us to review it, or have any suggestions regarding this going forward - please leave a comment and we'll do our best

[2020-06-05 05:31] #856 closed

[2020-06-05 05:54] bladey commented on #3855
Hi all,

Thank you everyone who had a part in addressing this question!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments.

However, if you feel this issue is still relevant and you'd like us to review it, or have any suggestions regarding this going forward - please leave a comment and we'll do our best

[2020-06-05 05:54] #3855 closed

[2020-06-05 07:24] bfiorito commented on #4073
Ok i figured out what was the problem.
{data.icon} is an URL so the icon is loaded asynchronously when the label is rendered.
The icon is displayed once loaded but shift content to the right because width of the label depending on actual content during rendering.
What's why i did not see the MultiValueRemove which was shift.

I had to simply fix height and width of the icon span to take in account

[2020-06-05 07:24] #4073 closed

[2020-06-05 17:47] cmarabate commented on #4021
I troubleshooted it for you in codesandbox and can confirm that this wasn't an issue until version 3.0. On versions 2.4.4 and lower, this was not an issue.

With all the other dependencies updated to their latest stable versions...
- It completely breaks after updating it to version 3.0.0
- It partially starts working again after 3.0.2. but if you select an option and then unselect it, it returns

[2020-06-05 18:48] muserrefakillibaykus commented on #3406
Is this bug fixed? @bladey @alturium

[2020-06-05 21:32] tim-phillips commented on #3575
@Slapbox, declare it outside the parent. If it relies on props, put it in a ref.

[2020-06-06 01:56] jaketrimble commented on #1085
react-select: 1.0.0-rc.5

[code]

[2020-06-06 13:41] ImSolitude opened #4076 "clearIndicator is not showing"
I am not sure if I am missing something but when using `isClearable={true}` the clear indicator is still not showing,

![error](https://user-images.githubusercontent.com/20565199/83945605-7bea8200-a814-11ea-8b7a-d19f1a83e92c.png)

[2020-06-06 13:43] #4076 closed

[2020-06-06 20:19] pauloandreget commented on #3756
Hey @jbojcic1 almost 9 months later, did you find a solution for this? I have the exact same issue on version 3.1.0 while using custom `components.Control` with extra props.

[2020-06-06 20:31] jbojcic1 commented on #3756
@pauloandreget I worked around it by creating "full" component for the Control, passing somethingElse param to selected and then accessing it in Control component via selectProps.

Control component:
`export const Control = <T extends any>(props: ControlProps<T>) => {
  ...
  const selectProps = props.selectProps as SelectProps<T>;
  const somethingElse = selectProps.somethingElse;
  return (...);

[2020-06-06 20:53] pauloandreget commented on #3756
Thanks @jbojcic1 seems to works fine using `selectProps` this way until the official fix for this issue.

[2020-06-07 09:02] aliazizi commented on #977
@bladey why not confirmed? this is a huge bug

[2020-06-07 21:49] ianstormtaylor commented on #3585
Why did the UMD build gets deprecated? How can you use `react-select` directly from a CDN like Unpkg now?

[2020-06-08 04:13] AOHUA commented on #3066
Setting the value to null works for me.

[2020-06-08 08:18] marcdelalonde opened #4078 "Display selected options outside the component"
Hi There !

I am using react-select for some of my projects and I am very excited about it.

However it would be awesome to have a native way to be able to display selected options outside the component and hide them inside it.

I am using css to achieve this, but maybe I missed this part in the doc ?

Thanks

[2020-06-08 08:42] juweez commented on #3723
Returning an empty string `onInputChange` is not working for me. It still has the previous value as @viv3kk mentioned. Is there any other suggestion we could try?

[2020-06-08 19:13] manvydasu commented on #4078
What do you mean by hiding them inside it? Is it the same as not displaying them in dropdown options? You could just filter them out.

[2020-06-08 19:36] Methuselah96 commented on #3723
Have you tried passing in your desired input value into the `inputValue` prop to `Select` and making the `inputValue` fully controlled?

[2020-06-09 05:28] umphy commented on #642
My workaround was with the following props:
[code]
Of course that doesn't help with adding a readonly attribute to the input field. For those who need it, you should probably create a thin wrapper around `<Select/>` with your custom props, then manually set the readonly attribute via the input element's handle.

[2020-06-09 06:40] bladey commented on #977
Hi @aliazizi, thanks for your feedback.

Can you please confirm this issue is still affecting `v3` of `react-select`?

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues using `v1` and `v2` of `react-select`.

In the best interest of supporting the broader community we have to direct our efforts towards the current major version `v3` and beyo

[2020-06-09 09:51] jt3k commented on #3912
sorry friends, I was busy.

[2020-06-09 11:02] Xartok commented on #3723
@jcuffe It was made up for the purpose of the example.

[2020-06-09 15:56] riceboyler commented on #3149
FWIW, I made a very simple version of this for our data-testid needs (it's using TS, so the types are there as well...)

[code]

Hope that helps someone until react-select actually renders these out by default.

[2020-06-09 18:10] itispal commented on #2032
Hai @LillaEli ,
while deselecting an item it deselects rest of the selected items too!! Sharing the fixed code
[code]

[2020-06-09 18:15] itispal commented on #2032
Hey @LillaEli
While deselecting an item it deselects rest of the selected items too!! Sharing the fixed one
[code]

[2020-06-10 05:39] bladey commented on #2848
This will be resolved when #4080 is merged.

[2020-06-10 05:41] bladey commented on #4042
This will be resolved when #4080 is merged.

[2020-06-10 05:42] bladey commented on #3061
This will be resolved when #4080 is merged.

[2020-06-10 05:53] bladey commented on #4074
Thanks for your assistance @razh.

I'm now closing this issue as it appears to be answered.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you.

[2020-06-10 05:53] #4074 closed

[2020-06-10 05:58] bladey commented on #3916
Closed in favor of issue #3703, will be resolved by #3928.

[2020-06-10 05:58] #3916 closed

[2020-06-10 06:25] bladey commented on #4037
Hi all,

I'm closing this in favor of #3703 which logs the same issue so we can consolidate this and get it fixed.

If this is incorrect, please let me know.

[2020-06-10 06:25] #4037 closed

[2020-06-10 06:27] bladey commented on #3942
Hi all,

I'm closing this in favor of #3703 which logs the same issue so we can consolidate this and get it fixed.

If this is incorrect, please let me know.

[2020-06-10 06:27] #3942 closed

[2020-06-10 06:27] bladey commented on #4036
Hi all,

I'm closing this in favor of #3703 which logs the same issue so we can consolidate this and get it fixed.

If this is incorrect, please let me know.

[2020-06-10 06:27] #4036 closed

[2020-06-10 08:16] jibberishclient commented on #4049
Ummmm I don't think so? I don't want to apply to all inner components, just the select items. And I don't think the tailwind classes would override the default classes.

[2020-06-10 23:24] alexkim205 commented on #3862
Bump

[2020-06-11 00:01] bladey commented on #4070
@m-reyes-h, @topolanekmartin has a good point here, a native browser select is an exception to a CSS select, you'll need to find a solution and style it so it renders appropriately for your use case.

[2020-06-11 00:08] tylercaceres commented on #3543
Is there a way to select all for 'groups' as well?

[2020-06-11 05:06] bladey commented on #1570
Re-opened due to pending PR #4082

[2020-06-11 06:38] rlucha opened #4083 "Feature request: Editable MultiValues"
Allow edition of a MultiValueLabel by double clicking on its name. Sometimes our users would like to change just a typo when entering a new value in a multi `CreatableSelect` and find themselves having to delete the whole thing and start again.

It has been requested from our users that those values should be editable and not just clearable. Search is a core feature of our product and it is used e

[2020-06-11 09:15] khanilov commented on #3066
Can confirm the bug too.

[2020-06-11 16:31] arun678 commented on #186
You might want to slightly change this.
OnBlur can trigger very quickly after onChange. setState is async call. So if you are calling changeHandler and then setState, there's a good chance that you might have on received the value you have set in state for onBlur event.
Try this scenario
1. Select the option
2. OnChange triggers and OnChangeHandler() is called (state value is null)
3. The selected

[2020-06-12 00:33] Rall3n commented on #3066
In normal React way, having the `value` prop with a value of `undefined` in a component indicates it being [**uncontrolled**](https://reactjs.org/docs/uncontrolled-components.html), meaning it does not rely on a prop for its value. React would give you an error in the console if you change the value of the `value` prop on a form element to `undefined` (switching from *controlled* to *uncontrolled*

[2020-06-12 01:54] bladey commented on #3597
Thanks @elijahcarrel, this has now been resolved!

[2020-06-12 01:54] #3597 closed

[2020-06-12 02:15] bladey commented on #3373
Duplicate of #3335, closing this issue as #3335 has expanded information.

[2020-06-12 02:15] #3373 closed

[2020-06-12 02:24] bladey commented on #3335
PR #3335 in review.

[2020-06-12 04:37] ssmereka commented on #3641
👍 I'm seeing this same issue.

[2020-06-12 11:43] warapolj-dev commented on #2728
const selectStyles = {
    control: (styles, { isFocused }) => ({
        ...styles,
        backgroundColor: '#fff',
        boxShadow: 'none',
        borderColor: isFocused ? '#40c1ac' : '#d4d4d4',
        ':hover': {
            borderColor: '#40c1ac'
        }
    }),
    option: (styles, { data, isDisabled, isFocused, isSelected }) => {
        return {
            ...styles,
            bac

[2020-06-12 11:48] warapolj-dev commented on #2728
this worked for me.

![Screen Shot 2563-06-12 at 18 47 30](https://user-images.githubusercontent.com/43536740/84499643-2f53ea80-acdd-11ea-9616-0bc5a0e14982.png)

[2020-06-12 14:37] ktrzos commented on #2674
@musmanrao1994
You can't when you have other value in `value` and other in `label`.

[code]

So, with your solution, selected value (in `ValueContainer`) will show its number, and not a label.

[2020-06-12 16:13] JasonPattle opened #4085 "React Select in Scrollable Modal"
Hello! I have found an issue with opening a select menu inside of a modal that has a scroll bar. Once you open the modal, and then open the select menu, you can scroll the modal but the select menu stays fixed in its original position until you hover over the select menu at which point it moves to a location on screen where it thinks it should be.

Here is a code sandbox I have created using the c

[2020-06-12 16:27] tylercaceres opened #4086 "HELP: How to replace SelectContainer/Control with a Button"
I'm trying to create a simple button that will extend react-select.
So far I've tried using the Custom Components but there seems to be a lot of props.children that I have to keep using as I drill down.
Is there a simple way to replace the control box with a simple button that'll perform the same way?

Thanks in advance.

[2020-06-12 18:48] giacintayao commented on #3915
I'm getting an error, not just a warning.
index.js:1 Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques

[2020-06-12 19:30] lbelavoir commented on #3832
From the current example on https://react-select.com/ the bug is still present.

[2020-06-12 20:49] nickornotto opened #4087 "Bundling with BundleConfig fails because of syntax error in react-select"
Add a path to the `react-select` component in your js file:

`import Select from 'react-select';`

and it is enough to just add the above line.

Add bundle to `BundleConfig.cs` that contains the path to the js where `react-select` is imported eg.:

[code]

Include the bundled file in your `razor`:

`@Scripts.Render("~/js/app.select")`

Take a look at the page source, click the url to the bundled f

[2020-06-13 17:28] efriandika commented on #3920
Yes.. I got similar problem when I was using "async" and "await"
[code]
When I changee to Promises axios, it works as expected:
[code]

[2020-06-13 18:08] rscotten commented on #4027
@Ali-Reza-Rezaee how did you fix this?

[2020-06-14 17:39] markociglar commented on #3916
It happens to me on 3.1.0 version (current).

[2020-06-15 03:25] bladey commented on #4085
Hi @JasonPattle, thanks for the details.

I can see at least two other open issues documenting this problem #3929 and #3734.

It appears that version 3.0.4 didn't have the issue but is now a problem in version 3.1.0 as per https://github.com/JedWatson/react-select/issues/3929#issuecomment-634015997

I'll see what I can do to help solve this.

[2020-06-15 04:46] bladey opened #4088 "Dropdown remains fixed in place and doesn't scroll with parent container"
_This issue is a round-up of multiple past issues documenting the same bug. Feel free to check out the linked issues below for more information. This issue is the source of truth going forward to investigate the issue, report findings, and implement a bug fix._

**Issue:**

![Screen Capture on 2020-06-15 at 14-43-03](https://user-images.githubusercontent.com/737821/84618854-c061d600-af16-11ea-94a0

[2020-06-15 04:48] bladey commented on #3646
Hello -

Thanks for reporting this issue.

This bug has been reported multiple times as per issue #4088.

A new master issue #4088 has since been created to keep track this this bug.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll take into account all the details above while investigating.

If you feel this

[2020-06-15 04:48] #3646 closed

[2020-06-15 04:48] bladey commented on #3349
Hello -

Thanks for reporting this issue.

This bug has been reported multiple times as per issue #4088.

A new master issue #4088 has since been created to keep track this this bug.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll take into account all the details above while investigating.

If you feel this

[2020-06-15 04:48] #3349 closed

[2020-06-15 04:48] bladey commented on #3929
Hello -

Thanks for reporting this issue.

This bug has been reported multiple times as per issue #4088.

A new master issue #4088 has since been created to keep track this this bug.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll take into account all the details above while investigating.

If you feel this

[2020-06-15 04:48] #3929 closed

[2020-06-15 04:48] bladey commented on #4085
Hello -

Thanks for reporting this issue.

This bug has been reported multiple times as per issue #4088.

A new master issue #4088 has since been created to keep track this this bug.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll take into account all the details above while investigating.

If you feel this

[2020-06-15 04:48] #4085 closed

[2020-06-15 04:48] bladey commented on #3734
Hello -

Thanks for reporting this issue.

This bug has been reported multiple times as per issue #4088.

A new master issue #4088 has since been created to keep track this this bug.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll take into account all the details above while investigating.

If you feel this

[2020-06-15 04:48] #3734 closed

[2020-06-15 04:48] bladey commented on #4052
Hello -

Thanks for reporting this issue.

This bug has been reported multiple times as per issue #4088.

A new master issue #4088 has since been created to keep track this this bug.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll take into account all the details above while investigating.

If you feel this

[2020-06-15 04:48] #4052 closed

[2020-06-15 04:48] bladey commented on #4020
Hello -

Thanks for reporting this issue.

This bug has been reported multiple times as per issue #4088.

A new master issue #4088 has since been created to keep track this this bug.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll take into account all the details above while investigating.

If you feel this

[2020-06-15 04:48] #4020 closed

[2020-06-15 04:55] bladey commented on #4060
Hi @HarelTussi,

It appears #3262 solves your issue, we are aiming to release it soon.

[2020-06-15 04:56] bladey commented on #4060
Closing in favor of #3459.

[2020-06-15 04:56] #4060 closed

[2020-06-15 05:03] artooras opened #4089 "Fit contents in flex layout"
I have a very simple setup - a `display: flex` header with a logo on the left and a `react-select `on the right.

![image](https://user-images.githubusercontent.com/4358143/84619677-74933a80-aede-11ea-8794-ee25467c171d.png)

But, as you can see, `react-select` doesn't stretch to fit the value. I've tried a lot of options, but nothing seems to work. Does anyone have a solution?

[Here's the sandbox

[2020-06-15 08:50] mjb95 commented on #4088
Hi - for info, I have explicitly tested this by installing v3.0.4 and v3.0.3, and I experience the same issue in both versions.  Is it possible that the bug existed even before the commit that you have highlighted above?

[2020-06-15 08:53] kyparyt commented on #4028
I have the same issue.

[2020-06-15 11:39] gempain commented on #3915
In addition to the above, I am getting this one after I start selecting something:
[code]

[2020-06-15 14:09] AleksandrHovhannisyan commented on #2181
I think the fact that multiple people reported this issue, without a fix ever being pushed, is an indication that "this issue is still relevant."

[2020-06-15 14:35] alikrodrigues commented on #977
Hi, I'm not the author.. but I can confirm this issue in **3.1.0**.

![Gravação de Tela 2020-06-15 às 11 29 58](https://user-images.githubusercontent.com/29580644/84670240-3d338680-aefc-11ea-9b74-d3e63d79c3ff.gif)

[2020-06-15 23:38] bladey commented on #3832
Thanks @lbelavoir!

[2020-06-15 23:41] bladey commented on #3832
Duplicate #3819 has further information.

[2020-06-15 23:41] bladey commented on #3819
Thanks for the report @dayanlemos, I'm going to close this in favor of #3832 which has a bit more information.

[2020-06-15 23:41] #3819 closed

[2020-06-15 23:45] bladey commented on #3920
Thanks for the further information @efriandika

[2020-06-15 23:48] bladey commented on #2181
Thanks for the feedback @AleksandrHovhannisyan.

[2020-06-15 23:49] bladey commented on #977
Thanks @alikrodrigues, I appreciate the feedback.

[2020-06-16 00:04] bladey commented on #977
@alikrodrigues I just tweaked the sandbox example and I'm unable to reproduce the issue, could you let me know what I'm missing from my config (it also works when searching and selecting).

![MLoom5](https://user-images.githubusercontent.com/737821/84717286-c27c7100-afb8-11ea-9fcc-caa91d3dcd82.gif)

https://codesandbox.io/s/react-codesandboxer-example-ewd44

[2020-06-16 08:33] pedrogpimenta commented on #3886
I have the same problem, don't even need to be on an actual mobile phone, Firefox with Touch emulation turned on has the same problem.

It's a `create-react-app` installation, it hasn't much going on, definitely no events that could collide with react-select (no event listeners at all).

Browser: Firefox v77.0.1 (64-bit)
OS: Windows 10

[2020-06-16 09:18] rafalschmidt97 commented on #3802
Same :)

[2020-06-16 11:04] AleksandrHovhannisyan commented on #2181
Sorry for that little outburst, lol. I solved my issue using `React.forwardRef` (https://reactjs.org/docs/forwarding-refs.html).

[2020-06-16 11:52] GeorgeMarcus commented on #3737
I wasted an entire day on this. I couldn't figure out why my test wasn't working. Apparently the test environment has touch capabilities...

[2020-06-16 13:29] HarelTussi commented on #4060
Thank you so much !!!
On 15 Jun 2020, 7:55 +0300, Thomas Walker <notifications@github.com>, wrote:

[2020-06-16 14:54] alikrodrigues commented on #977
Hi @bladey thanks for answered, When I use a wrapMenuList to show the selected the focus will redirect to MenuList..
When I removed and show just the badges the work it's ok..
![Gravação-de-Tela-2020-06-16-às-11 39 53](https://user-images.githubusercontent.com/29580644/84790588-e2fff780-afc7-11ea-807e-dd7b8dfe186f.gif)

Here is my Select Component
![image](https://user-images.githubusercontent.

[2020-06-16 16:19] c2r0b opened #4091 "Typescript namespace errors"
When trying to compile to typescript I am getting the following errors:

[code]

These are the types I have installed:
[code]

This is the command I'm currently using to compile:
`tsc src/*.tsx --jsx 'react' --outDir lib/`

Note: I am using Preact

[2020-06-16 18:00] Methuselah96 commented on #4091
This seems to be more likely a problem with your setup then a problem with the types. Are you able to share a sample repo?

[2020-06-16 19:39] zehguilherme commented on #2149
I'm trying to do the same, but in a ReactJS project.
All inputs.

[GitHub project](https://github.com/zehguilherme/next-level-week)

[2020-06-16 19:43] c2r0b commented on #4091
I can't share a sample repo. Hope this info could be enough:

tsconfig.json
[code]

partial code of the file using react-select:
[code]

wrapper around react-select:
[code]

[2020-06-16 19:56] FatehAK opened #4092 "How to use React Select with Google Places API?"
I was just wondering how to implement Places Autocomplete with react-select

[2020-06-16 20:12] dfdumaresq commented on #3870
Hello - I am having a similar issue in Chrome Version 83.0.4103.106.
I am running "react-select": "3.1.0" and the dropdown options menu is not being displayed. It works in Firefox.

[2020-06-16 23:22] bladey commented on #3870
Hi @dfdumaresq,

I can't reproduce this with the `menuIsOpen` prop, see here - https://codesandbox.io/s/react-select-v3-sandbox-13swo

Were you using `isOpen` instead?

[2020-06-16 23:30] bladey commented on #4092
Hi @FatehAK,

It appears 2 people have implemented this in the past few years, here:

https://github.com/akofman/react-select-places
https://github.com/javiercr/react-select-google-places

Their implementations might give you some clues on how to implement it in the latest version.

I couldn't find anything else however relating to using Google Places API.

[2020-06-17 00:43] Methuselah96 commented on #4091
Can you try setting `allowSyntheticDefaultImports` to `true` in your `tsconfig.json` (and maybe `esModuleInterop`, although that might not be necessary)?

[2020-06-17 01:11] theKashey commented on #3737
Lucky one, caught it in tests :)

[2020-06-17 01:53] bladey commented on #1377
Here is a Code Sandbox with over 10,000 items, I'm able to select the last option, could you provide a few more details?

https://codesandbox.io/s/react-select-v3-sandbox-gxnhs

I'll close this issue for now in case it's now redundant.

[2020-06-17 01:53] #1377 closed

[2020-06-17 02:11] bladey commented on #1636
Hi all,

It appears `menuPlacement='top'` solves this issue as per sandbox below, if this is incorrect, please let me know and I'll reopen and investigate, thank you.

Example - https://codesandbox.io/s/react-select-v3-sandbox-jgdch

[2020-06-17 02:11] #1636 closed

[2020-06-17 02:26] bladey commented on #1681
Hi all,

Thanks for sharing the implementation advice above!

@rsslldnphy if you'd like to create a PR for this you are most welcome, if there is demand for it, I'd happily review it.

I'll close this issue for this as it's been deemed not possible unless we make an enhancement and PR - however if you feel the issue should remain open, please do let me know.

[2020-06-17 02:26] #1681 closed

[2020-06-17 02:47] bladey commented on #1864
Hello -

Thanks for your assistance @sampatbadhe!

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments or issues that are now redundant based on their age.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a comment and we'll do our best to get back to you, and

[2020-06-17 02:47] #1864 closed

[2020-06-17 02:48] bladey commented on #1865
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues that appear to be resolved via community comments.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issues you're having.

However, if you feel this issue is still relevant and you'd like us to review it - please leave a co

[2020-06-17 02:48] #1865 closed

[2020-06-17 02:53] bladey commented on #2201
Hi all,

Thank you @Rall3n and everyone else who had a part in addressing this question.

This is now documented correctly for v2 and above.

However, if you feel this issue is still relevant and you'd like us to review it, or have any suggestions regarding this going forward - please leave a comment and we'll do our best to get back to you!

[2020-06-17 02:53] #2201 closed

[2020-06-17 03:02] bladey commented on #2239
Hi @deniswvieira and @juliocarneiro, I'm unable to replicate this with a multi select dropbox, could you please provide a CodeSandbox with the same options you're using so I can look into this further, and also let me know which browser version you're having trouble with.

I've created one here for my testing - https://codesandbox.io/s/react-select-v3-sandbox-nl4yg

[2020-06-17 03:08] bladey commented on #2318
Hi @vnallamhawk, if you could provide your solution that would be great!

For now I'm closing the issue until we get a response.

[2020-06-17 03:08] #2318 closed

[2020-06-17 03:16] bladey commented on #2660
Hi all, I'm closing this issue in favor of #1525, we'll use the information detailed here when investigating the issue.

[2020-06-17 03:16] #2660 closed

[2020-06-17 03:16] bladey commented on #1525
Duplicate issue #2660 has more information.

[2020-06-17 03:20] bladey commented on #2691
Hi all,

You can see the data structure now in the Codesandbox link next to the example, direct link is here - https://codesandbox.io/s/bzdhr?module=/example.js&file=/docs/data.js

[2020-06-17 03:20] #2691 closed

[2020-06-17 03:32] bladey commented on #1771
Hi all! I'd appreciate a Codesandbox link to replicate this issue so I can investigate, thank you.

[2020-06-17 03:34] bladey commented on #1764
Hi all,

Thank you everyone who had a part in addressing this question.

I'm now closing this issue as it appears to have been resolved via community comments.

However, if you feel this issue is still relevant and you'd like us to review it, or have any suggestions regarding this going forward - please leave a comment and we'll do our best to get back to you!

[2020-06-17 03:35] bladey commented on #1719
Hello -

In an effort to sustain the `react-select` project going forward, we're cleaning up and closing old issues.

We understand this might be inconvenient but in the best interest of supporting the broader community we have to direct our efforts towards the current major version.

If you aren't using the latest version of `react-select` please consider upgrading to see if it resolves any issue

[2020-06-17 03:35] #1719 closed

[2020-06-17 03:40] bladey commented on #1566
Thanks for the answer @Rall3n, I'm now going to close this issue as a solution has been given in #2152.

If anyone feels this issue is still relevant and you'd like us to review it, or have any suggestions regarding this going forward - please leave a comment and we'll do our best to get back to you!

[2020-06-17 03:40] #1566 closed

[2020-06-17 05:52] bladey commented on #2771
Hi all,

Thank you everyone who had a part in addressing this question.

In an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments.

However, if you feel this issue is still relevant and you'd like us to review it, or have any suggestions regarding this going forward - please leave a comment and we'll do our best

[2020-06-17 05:52] #2771 closed

[2020-06-17 06:15] bladey commented on #3278
Hi all,

Thank you everyone who had a part in addressing this question!
I'm now closing this issue as it appears to have been resolved via community comments.

However, if you feel this issue is still relevant and you'd like us to review it, or have any suggestions regarding this going forward - please leave a comment and we'll do our best to get back to you!

[2020-06-17 06:15] #3278 closed

[2020-06-17 06:26] bladey commented on #3395
Hello -

This issue appears to be solved in #3111 as per above.

However, if you feel this issue is still relevant and shouldn't be closed, and you'd like us to review it - please leave a comment and we'll do our best to get back to you!

[2020-06-17 06:26] #3395 closed

[2020-06-17 06:41] c2r0b commented on #4091
Tried changing both values to `true`, but still got the same errors. (compilation without `@types/react-select` runs without errors)

[2020-06-17 06:53] bladey commented on #3533
<img width="463" alt="IgFFKB" src="https://user-images.githubusercontent.com/737821/84865136-11123400-b0bb-11ea-8396-0144403cf75b.png">

[2020-06-17 06:56] bladey commented on #3558
Hi @olemartin, wanted to check in and see if you resolved this.

[2020-06-17 06:58] bladey commented on #3555
Hi @sathiathirumal, wanted to check in and see if you resolved this properly.

[2020-06-17 07:40] FatehAK commented on #4092
Thanks @bladey will check them out

[2020-06-17 08:33] olemartin commented on #3558
Hi @bladey. No, when running with hot reload the error is still present. I have to build locally in order to get it working, and that makes the development roundtrip a bit long.

[2020-06-17 11:39] aliazizi commented on #977
@bladey I reproduce the problem

You can see it here

https://codesandbox.io/s/react-codesandboxer-example-5xmq0?file=/index.js

[2020-06-17 16:41] dfdumaresq commented on #3870
Thanks for the reply @bladey . I cannot reproduce our issue with your [example](https://codesandbox.io/s/react-select-v3-sandbox-fw85t?file=/example.js) either.

We were using an invalid className and that caused the menu to remain hidden. Once we used the correct className the issue resolved.

[2020-06-17 17:40] MrLeebo opened #4093 "Feature Request: Allow optionsCache to be shared by multiple Async Select components"
# Feature Request

Use Case: I'd like to be able to share a cache between multiple Async Select components that are loading options from the same data source. For instance, a table grid component where each Table Row is editable with an Async Select that fetches from the same source.

I believe a previous version of react-select let you set a shared cache using a `cache` prop, but that doesn't see

[2020-06-17 20:12] calvinherd9 commented on #977
Running into this issue also, I have a custom Menu Item component and closeMenuOnSelect set to false. Have you found a workaround to this issue or is this just a bug that can't be solved

[2020-06-17 20:24] Rall3n commented on #977
@aliazizi Common mistake with Reacts `render` method: You are defining your `MenuList` component inside the `render` method. As this method is called on every change to the components state, the `MenuList` component is also redefined every time, which causes the HTML element to be replaced and the scroll-to-top to happen.

Solution: Move your component outside of the `render` method.

[code]

[2020-06-17 22:56] ro-savage commented on #1764
@bladey - The option suggested by @andoq doesn't handle use cases of multi-select.

There are a bunch of edge cases around it (when the value already exists, the fact null is returned instead of an empty array, etc).

It would be great if onBlur was passed was also passed the current values (or better yet the same params as onChange). This would make it much easier to implement in user land.

[2020-06-17 22:59] ro-savage commented on #1764
FYI for anyone using multiselect and create on blur. This is our solution, although there are still some edge cases that may be missed

[code]

[2020-06-18 00:41] bladey commented on #3870
Thanks for the feedback @dfdumaresq, glad it's working now. I'll close this issue, let me know if you'd like it re-opened due to further issues.

[2020-06-18 00:41] #3870 closed

[2020-06-18 00:55] bladey commented on #977
Thanks for the answer @Rall3n!

I can confirm this works, I modified the Codesandbox here - https://codesandbox.io/s/react-codesandboxer-example-4mj9p?file=/index.js

The problem no longer exists for me @aliazizi and @calvinherd9, let me know.

[2020-06-18 00:58] bladey commented on #1764
Thanks for your feedback @ro-savage, I appreciate it.

[2020-06-18 00:59] daschi commented on #3973
I can also confirm seeing this bug in `"react-select": "^3.0.8"`, when adding `onMenuOpen` and `onMenuClose` callbacks to the `Select` component, I'm not able to open the menu on mobile.

[2020-06-18 01:05] bladey commented on #3560
Hey @ezr-ondrej, this is awesome, thanks for the contribution.

As mentioned, this would be a great package to have, let me know if you are still willing and have time to do this!

[2020-06-18 01:17] bladey commented on #3653
Thanks for the feedback @LucidNinja!

@shashankshahplutus, @sobrinho, @SourabhRanka, @mrstalon does this happen to solve the issue for you?

[2020-06-18 01:21] bladey commented on #3659
Hi @JosipTomaic and @acrawford13,

I can't reproduce this issue in a Codesandbox using the code from @JosipTomaic.

See here - https://codesandbox.io/s/react-select-v3-sandbox-j45l9?file=/example.js

Are you still experiencing the issue?

[2020-06-18 01:57] bladey commented on #3713
Hey @stilllife00,

Your example has `closeMenuOnSelect` as false, I updated your example here - https://codesandbox.io/s/react-codesandboxer-example-kgfu6

Seems to work fine for me, let me know if it doesn't!

[2020-06-18 01:57] #3713 closed

[2020-06-18 02:13] bladey commented on #3668
Closing duplicate in favor of #3543.

[2020-06-18 02:13] #3668 closed

[2020-06-18 02:13] bladey commented on #3543
Also detailed in #3668

[2020-06-18 02:19] bladey commented on #3809
Hi all,

As @treago mentioned, this is an issue with `react-input-autosize`.

If you disagree, please let me know and I'll reopen the issue.

[2020-06-18 02:19] #3809 closed

[2020-06-18 02:22] bladey commented on #3804
Hi all,

As @bj00rn mentioned, this appears to be a duplicate of #3612, I'm going to close this issue so we don't have duplicates. I'll mention this issue in the original to keep context.

[2020-06-18 02:22] #3804 closed

[2020-06-18 02:22] bladey commented on #3612
Further details at #3804

[2020-06-18 02:23] bladey commented on #3612
It appears this will be resolved when PR #3626 is merged.

[2020-06-18 03:36] bladey commented on #3780
Hi @millturnK and @jgladch, I've attempted to reproduce this issue based on @millturnK's example, here - https://codesandbox.io/s/react-select-v3-sandbox-guyp8?file=/example.js

I can't see the problem however, could you confirm it's still an issue?

[2020-06-18 03:51] bladey commented on #3776
Thanks for workaround @k1462015, I'm now going to close this issue so we can keep on top of other issues in the repo.

However - if you'd like us to further investigate this if the workaround isn't good enough, please let me know.

[2020-06-18 03:51] #3776 closed

[2020-06-18 03:52] millturnK commented on #3780
Hi @bladey ,
I am no longer supporting this application due to lack of funding so it's not an error for me anymore ;-). It is happening in a Vue.js app I'm developing because of the LastPass Chrome extension. So I think it's just a matter of catching and handling that error as it's not a show stopper - and nothing for you to worry about. Thanks for your help though :-).

[2020-06-18 03:52] #3780 closed

[2020-06-18 03:55] bladey commented on #3767
Thanks for the answer @jrtilson, much appreciated.

@bartoszhernas let me know if this doesn't solve your issue and I'll reopen and mark it for investigation.

[2020-06-18 03:55] #3767 closed

[2020-06-18 03:56] bladey commented on #3780
Thanks @millturnK!

[2020-06-18 05:17] bladey commented on #3759
Hi @engp8691!

As @flexdinesh mentioned, if you could give us a example that would be great.

I'm going to close this issue for now, please let me know if you have an example and you'd like us to reopen it!

[2020-06-18 05:17] #3759 closed

[2020-06-18 05:19] bladey commented on #3961
Hi @jaywardhan1990, I'm going to close this in favor of #3753 as you've already posted there.

[2020-06-18 05:19] #3961 closed

[2020-06-18 05:26] aliazizi commented on #977
@Rall3n! thanks, it's working

@bladey  thank you it's working now

[2020-06-18 05:31] bladey commented on #3736
Hi @Kashio!

I wanted to check in and see if this was still an issue for you. We're going through issues and triaging at the moment to see what needs attention.

[2020-06-18 05:33] bladey commented on #3732
Hi @stearruda!

I wanted to check in and see if this was still an issue for you. We're going through issues and triaging at the moment to see what needs attention.

[2020-06-18 05:38] bladey commented on #3879
Hi @Mohammedalasaad,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward.

[2020-06-18 05:53] bladey commented on #3816
Closing as this appears to be a duplicate of #3804.

Further details at #3804.

It appears this will be resolved when PR #3626 is merged.

Please let me know if this is incorrect!

[2020-06-18 05:53] #3816 closed

[2020-06-18 05:59] bladey commented on #3876
Hi @rcgillet,

Thanks for reporting this issue. It appears this issue is a duplicate of #3335.

There is a PR at to resolve this #3897 which will get merged soon.

If I'm not correct, please let me know.

[2020-06-18 05:59] #3876 closed

[2020-06-18 06:17] bladey opened #4094 "Warnings: componentWillReceiveProps in strict mode, Legacy context API, findDOMNode is deprecated"
_This issue is a round-up of multiple past issues documenting the same bug. Feel free to check out the linked issues below for more information. This issue is the source of truth going forward to investigate the issue, report findings, and implement a bug fix._

**Issue:**

<img width="715" alt="W35yYs" src="https://user-images.githubusercontent.com/737821/84984363-ffde2b80-b17d-11ea-8842-9cc8a2f0

[2020-06-18 06:26] bladey commented on #3751
Hi all,

Thank you to everyone who has provided information above.

As you may be aware, this bug has been reported multiple times as per issue #4094. On behalf of the maintainers I apologise it's taken awhile to get to this.

A new master issue #4094 has since been created to help keep track of this bug going forward.

This new issue will exist as the source of truth going forward to investigate

[2020-06-18 06:26] #3751 closed

[2020-06-18 06:26] bladey commented on #3720
Hi all,

Thank you to everyone who has provided information above.

As you may be aware, this bug has been reported multiple times as per issue #4094. On behalf of the maintainers I apologise it's taken awhile to get to this.

A new master issue #4094 has since been created to help keep track of this bug going forward.

This new issue will exist as the source of truth going forward to investigate

[2020-06-18 06:26] #3720 closed

[2020-06-18 06:27] bladey commented on #3915
Hi all,

Thank you to everyone who has provided information above.

As you may be aware, this bug has been reported multiple times as per issue #4094. On behalf of the maintainers I apologise it's taken awhile to get to this.

A new master issue #4094 has since been created to help keep track of this bug going forward.

This new issue will exist as the source of truth going forward to investigate

[2020-06-18 06:27] #3915 closed

[2020-06-18 06:27] bladey commented on #3745
Hi all,

Thank you to everyone who has provided information above.

As you may be aware, this bug has been reported multiple times as per issue #4094. On behalf of the maintainers I apologise it's taken awhile to get to this.

A new master issue #4094 has since been created to help keep track of this bug going forward.

This new issue will exist as the source of truth going forward to investigate

[2020-06-18 06:27] #3745 closed

[2020-06-18 06:37] bladey commented on #3963
Hi @miladnikad and @sknutsonsf,

I wanted to check in and see if either @killerbytes or @cototal's answers have solved your problem.

Thanks @alexristich, @killerbytes and @cototal.

[2020-06-18 06:39] bladey commented on #3962
Thanks for the assistance @alexristich.

@rajtejani could you please confirm whether the above answer has helped you?

We're triaging and closing issues at the moment to help sustain the project.

[2020-06-18 06:44] bladey commented on #3948
Hi @yoonwaiyan,

I don't expect that we'll be able to get this implemented in version 2. In the best interest of supporting the broader community we have to direct our efforts towards the current major version - version 3 and beyond.

[2020-06-18 06:44] #3948 closed

[2020-06-18 06:48] bladey commented on #3932
Hi @dmt0,

I wanted to check in with this issue and confirm it was still happening with the latest version of Firefox, could you please confirm? Thank you.

[2020-06-18 06:57] bladey commented on #3921
Hey @SebastianGalazka,

I'm having trouble reproducing this, could you please create an example using the v3 Codesandbox link?

https://codesandbox.io/s/react-select-v3-sandbox-jgdch

[2020-06-18 11:45] alikrodrigues commented on #977
Thanks guys, It's working for me too.

[2020-06-18 13:39] giangr21 commented on #4094
Same issue here

[2020-06-18 13:40] drbeat commented on #2889
Just ran into the same issue.

[2020-06-18 14:23] dmt0 commented on #3932
Hi @bladey, yes, still seeing this with Firefox 77.0.1.

Somewhat relevant: here's the firefox bug that prevents you from debugging this properly:
https://bugzilla.mozilla.org/show_bug.cgi?id=1615355

[2020-06-18 16:10] aligreene commented on #3886
I also have this issue. Only when changing to mobile or tablet view using Firefox.

[2020-06-18 18:14] Nnoromuche commented on #3753
Well done with the development of this library. Can you provide an example of this library working in a non-class based react-native file please, thanks!

[2020-06-18 18:32] ezr-ondrej commented on #3560
@bladey well I'd love to do so, altough some guidance from any maintainer would be nice.
For starters, I've extracted the code to https://github.com/ezr-ondrej/react-select-draggable but there's much more to do and I'd use help.

[2020-06-18 19:32] Rall3n commented on #3753
As it seems like no one likes to answer here with a cause of the issue:

**`react-select` is currently strictly programmed to be used in the web. It will definitely not work with `react-native`.**

[2020-06-18 20:12] c2r0b commented on #4091
As far as I know this might be an issue with `preact/compat` not doing its job of maintaining the compatibility with other React components in case of Typescript being used.

Because of time constraints I ended up using another solution for the select boxes in my web app.
Not sure if this is something worth trying to solve in this repo.

[2020-06-18 23:57] bladey commented on #3932
Thanks for confirming @dmt0.

[2020-06-18 23:59] #977 closed

[2020-06-19 00:07] bladey commented on #3560
Thanks for replying @ezr-ondrej, noted - let me flag this with the maintainers before you go any further.

[2020-06-19 00:13] bladey commented on #3753
Thanks for pointing this our @Rall3n. I'm going to close this issue since `react-native` is not supported.

[2020-06-19 00:13] #3753 closed

[2020-06-19 01:20] bladey commented on #4006
@gregholst thanks for reporting this issue to Dashlane, do you have any updates since you last spoke to them?

[2020-06-19 01:22] bladey commented on #4004
Hi @xyyimian could you please provide a Codesandbox example so I can help further - I pressume you have already looked at the code editor on this page - https://react-select.com/async

[2020-06-19 01:27] bladey commented on #4003
Hi @rumu10, as far as I'm aware there is no way to run `react-select` via a CDN at this time, you'll need to install it directly.

[2020-06-19 01:29] bladey commented on #4002
Hi @raghavendracs, could you please provide a Codesandbox link with your example, I think there is a little more going on here beside the code you've shown.

[2020-06-19 01:34] bladey commented on #3988
Thanks all, I'll try and get the PR reviewed as soon as I can.

[2020-06-19 01:40] bladey commented on #3975
Hi @coderrsid,

It appears this issue has been resolved in issue https://github.com/laurent22/joplin/pull/2566.

If this issue is still relevant, please let me know.

[2020-06-19 01:40] #3975 closed

[2020-06-19 01:46] bladey commented on #3972
Hi @jindal15,

It appears the example *Creatable Multiselect Example* on this page does what you need - https://react-select.com/creatable

Let me know if this is incorrect.

[2020-06-19 01:46] #3972 closed

[2020-06-19 02:27] bladey commented on #3970
Thanks for taking to time to help @jaskaransr93.

@lorenzosjb from what I can see the Codesandbox from @jaskaransr93 does what you need.

If not, please let me know!

[2020-06-19 02:27] #3970 closed

[2020-06-19 02:29] bladey commented on #3969
Thanks for taking the time to help @win7ers, and reporting back @vtarelkin. It looks like this can be closed now.

[2020-06-19 02:29] #3969 closed

[2020-06-19 02:31] bladey commented on #3922
Hi @ruben0626, the author themselves closed the issue shortly after creating it, and has not since replied. We'll take a look at this issue in more detail when we can.

[2020-06-19 03:13] bladey commented on #4008
Thanks for taking the time to write such a detailed reply @ebonow, much appreciated.

@jordymeow as stated above, let us know if this issue is now resolved, I'm going to preemptively close this issue. I'll re-open it if necessary.

[2020-06-19 03:13] #4008 closed

[2020-06-19 03:18] bladey commented on #3994
Hi @AleksaCorona, as mentioned by @teltploek, this issue has been outlined in #3802. I'm going to close this for now so we can keep the issues streamlined.

[2020-06-19 03:18] #3994 closed

[2020-06-19 03:23] #4070 closed

[2020-06-19 03:25] bladey commented on #4068
Hi both,

Thank you for the provided information above.

As you may be aware, this bug has been reported multiple times as per issue #4094. On behalf of the maintainers I apologise it's taken awhile to get to this.

A new master issue #4094 has since been created to help keep track of this bug going forward.

This new issue will exist as the source of truth going forward to investigate the issue,

[2020-06-19 03:25] #4068 closed

[2020-06-19 03:28] bladey commented on #4057
Thanks for taking the time to help out @ebonow.

@francoisihry, please let us know if this solves your issue - for now I'm going to close the issue to keep our list under control. Let me know if it should be reopened.

[2020-06-19 03:28] #4057 closed

[2020-06-19 03:37] bladey commented on #4041
@anhpt-bss, we get to issues as soon as we can. Could you please provide more information such as a video and a Codesandbox of the issue.

[2020-06-19 03:38] bladey commented on #4055
Hi @vincegerald, could you please provide more details about your install environment and a Codesandbox with what you are trying to achieve.

[2020-06-19 03:39] bladey commented on #4054
Hi @vigneshkbala, could you please provide a Codesandbox link which demonstrates this issue so we can look into it further.

[2020-06-19 03:46] bladey commented on #4050
Hi @ajayupreti, the examples provided on the async page (https://react-select.com/async#loading-asynchronously) are demonstrating how to load async data.

The first example has a `loadOptions` function, where is where you would be requesting your data from another remote source.

The timeout is added to demonstrate the time it would take to load options from another remote source.

[code]

Please

[2020-06-19 03:51] bladey commented on #4047
Hi @deeajay, could you please provide more information about the issues you are facing with the latest version.

[2020-06-19 03:54] #4092 closed

[2020-06-19 03:59] bladey commented on #4089
Hi @artooras,

Have you tried to wrap the Select component with another styled div?

I've created an example here which expands the select width - https://codesandbox.io/s/dreamy-water-vbnht

[2020-06-19 04:03] bladey commented on #4086
Hi @tylercaceres,

Are you referring to something like the `Experimental > Popout` example on this page? - https://react-select.com/advanced

[2020-06-19 04:05] bladey commented on #4078
Hi @marcdelalonde, as mentioned by @manvydasu could you please provide some more information on what you are trying to achieve, such as a screenshot.

[2020-06-19 05:22] jordymeow commented on #4008
Thanks @ebonow, that was actually a very kind answer :) I got it a bit late though, by that time I had already done a bit of hacking by myself. It looks a bit similar to what you did.

That said, I hope the library could provide a simpler/cleaner way to enable us to do this. I guess it is more a feature request that an issue. Thanks to both of you.

[2020-06-19 06:07] bladey commented on #4038
Hi @vinu68, following up on this issue, I was wondering whether you found a solution to the IE11 issue.

[2020-06-19 06:11] bladey commented on #4022
Hi @tamjidtech, could you please provide more information about your development environment and an example on Codesandbox (even though it's working there).

[2020-06-19 10:11] marcdelalonde commented on #4078
Hello @manvydasu & @bladey,

What I am trying to achieve is to keep exactly the same behavior, expect that I'm displaying the selected options list outside the react-select element, instead of having the list inside the input.
I am hiding the selected options list with a simple display: none, but maybe there is a native component option ?

Thank you

[2020-06-19 14:57] Sine99 commented on #4094
same issue

[2020-06-19 16:38] manvydasu commented on #4094
So basically someone would have to create a PR and replace legacy component lifecycle methods with newer version: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html#migrating-from-legacy-lifecycles

[2020-06-20 08:44] gregholst commented on #4006
I checked back with Dashlane yesterday and they confirmed that the bug was fixed in their Chrome extension. They say any version above 6.2019 should work. I tested with 6.2020.3 and couldn't reproduce the issue. So I am going to close this issue.

[2020-06-20 08:44] #4006 closed

[2020-06-20 09:04] bladey commented on #4006
Thanks for taking the time to update us @gregholst, much appreciated.

[2020-06-20 19:52] ebonow commented on #4039
@artooras. Sorry for the late reply. I lost my last draft while working on a sandbox solution for you. There are a few things to this....

1) Targeting the input ref also depends on the type of Select. This is a mild annoyance of mine but here's how it's done depending on your use-case...

**Select**: ref.current.select.inputRef.select()
**Createable** or **Async**: ref.current.select.select.input

[2020-06-20 20:18] ebonow commented on #4089
@artooras Hello again,

The styling I think you are looking for is based on the SingleValue. Since the default styling is set to `position: absolute`, it will not flex without some styling overrides.

I responded to a thread recently discussing [how to create an inline React-Select](https://github.com/JedWatson/react-select/issues/4008#issuecomment-635748900) (with a working sandbox [example](http

[2020-06-20 20:48] ebonow commented on #4071
I'm not familiar with any simplevalue prop.

I think the most straightforward way would be to simply pass in your options mapped through as objects with labels and values. This should achieve what you are looking for. Let me know if I am missing anything.

[code]

[2020-06-20 21:50] ebonow commented on #4049
While using emotion should get you what you need by following the example and documentation here: https://react-select.com/styles#cx-and-custom-components

However, the provided example is currently broken both on the site and on the sandbox. Even after adding the missing reference to Emotion, I am still unable to apply any styling and the DOM class attribute is actually rendering as the string `[

[2020-06-20 22:02] ebonow opened #4095 "Code example for CX and Custom Components documentation isn't functional"
The example provided in the documentation for how to use the CX function with Custom Components ([here](https://react-select.com/styles#cx-and-custom-components)) does not appear to be working properly both on the site and on the sandbox.

CodeSandbox claims that there is a missing reference to Emotion, but even after adding it, the custom component is still missing all styling.

Investigating fur

[2020-06-21 01:22] ebonow commented on #4055
This feels like a build issue. Would you also mind sharing your build config?

[2020-06-21 02:36] ebonow commented on #4030
@boyrest I have run into a similar issue and came up with the following solution. I had posted on an earlier thread but tested this and believe this to be better in that it involves no extra styling to deal with the hiding that React-Select does to the Input and SingleValue

NOTE: isHidden prop does not seem to work properly hence the need to create a custom Input component to manually override th

[2020-06-21 02:39] ebonow commented on #4039
Here's a version that does not require any extra styling that I tested today found [here](https://github.com/JedWatson/react-select/issues/4039#issuecomment-647038779)

[2020-06-21 02:51] manualva7 commented on #4039
I say again, this is not possible. Any "solution" to this is a hacky solution. Because select() does not select divs or text inside divs. According to https://developer.mozilla.org/: "The HTMLInputElement.select() method selects all the text in a <textarea> element or in an <input> element that includes a text field."

Please visit:

https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElemen

[2020-06-21 03:35] ebonow commented on #4003
It is possible per [this old StackOverflow post from about 18 months ago](https://stackoverflow.com/questions/53927307/how-to-import-from-react-select-cdn-with-react-and-babel).

The Codepen from the solution appears to still work so long as the old version works for you. I'm not sure that the current build includes fully compiled distro files. Hope this helps if you haven't moved on already.

[2020-06-21 05:01] ebonow commented on #3880
Have you tried setting a width on the container? The input will stay constrained to the container so long as you specify a width.

[code]
If you wanted to constrain the multi values into one-line, this is possible too, but be forwarned that you will run into spacing issues quickly.
[code]
You will need to decide how you want to let the user select 8 options and display that in some defined space.

[2020-06-21 22:59] ebonow commented on #4039
@artooras Here is your solution.

@manualva7 100% incorrect. Here is the working "solution" that you said isn't possible: https://codesandbox.io/s/epic-rgb-6nfdv

Please consider reading before refuting so assuredly what's possible and not possible in the future.

To set the record straight, the fact is that React-Select DOES render an Input (when the searchable prop is true). What also does happe

[2020-06-22 00:49] manualva7 commented on #4039
@ebonow  all praise the genius 😂

[2020-06-22 11:29] Rall3n commented on #4095
The example was not updated to use emotion 10´s `css` prop. Because of that, the styles can not be applied.

[2020-06-22 12:23] Mohammedalasaad commented on #3879
Hi @bladey
 I think it's from iPhone they show the arrows and Done word at footer. for all input fields.
So I don't think there is a way to fix this :)
Thanks a lot

[2020-06-22 14:52] artooras commented on #4039
Thanks @ebonow . Is the following

documented anywhere? Because I think it should be :)

In my case, I ended up using a workaround which, though may not be entirely correct, works for me quite reliably. This is based on the assumption that when I call `focus()` on the `react-select`, the input that is in focus in `document` is that of `react-select`:

[code]

[2020-06-22 14:55] artooras commented on #4089
Thanks @ebonow , I ended up using a version of your solution. I used `position: relative` on `singleValue`.

[2020-06-22 14:55] ebonow commented on #4095
Thank you. That makes sense. Could someone perhaps show me the provided example updated using Emotion 10? I was specifically looking at the ability to add classNames to a custom component which is a great use-case for those who want to leverage an existing UI framework like Atomic, Bootstrap, Tailwind, etc...

I tried to spend some time learning Emotion but got stuck wrestling with why the UI styl

[2020-06-22 15:09] ebonow commented on #4039
That actually is quite brilliant and simplistic. Are you using a controlled component by passing in the inputValue? Just curious to how you are maintaining a value in the input otherwise that could be selected.

[2020-06-22 15:18] ebonow commented on #4089
I spent the weekend looking at different styling methods trying to break the old habits of using classNames everywhere. That said, this would likely be more the recommended way for anyone else in the future looking to solve a similar problem.

[code]

In either case, glad it worked out.

[2020-06-22 15:24] artooras commented on #4039
I set `defaultInputValue` as `...` and have it selected, which was my intended use case - the user clicks on a button to add a new value in `react-select` and, as a result, gets the `...` default value selected in the input (and the menu under the input showing `Add new value: ...`), allowing the user to type straight away.

[2020-06-22 15:38] corysimmons commented on #3585
react-select now blows up console with deprecation warnings from react. :(

[2020-06-22 17:21] Rall3n commented on #4095
Following should be all the changes needed to make the example work again:

[code]

The `jsx` import from `@emotion/core` replaces the `React` import that is needed on every React file. This also includes the functionality of the `css` prop. The comment on the top tells the compiler to use `jsx` instead of `React`.

[2020-06-23 00:54] bladey commented on #3879
Thanks @Mohammedalasaad!

[2020-06-23 00:54] #3879 closed

[2020-06-23 00:55] bladey commented on #4089
Thanks @ebonow for your assistance!

[2020-06-23 00:55] #4089 closed

[2020-06-23 01:03] bladey commented on #3585
Hey @corysimmons, we're aiming to get this addressed soon - https://github.com/JedWatson/react-select/issues/4094

[2020-06-23 01:41] bladey commented on #2858
Hi all,

Thank you @TrySound and @IanVS who had a part in addressing this question.

@mandx in an effort to sustain the `react-select` project going forward, we're closing issues that appear to have been resolved via community comments.

However, if you feel this issue is still relevant and you'd like us to review it or have any suggestions - please leave a comment and we'll do our best to get bac

[2020-06-23 01:41] #2858 closed

[2020-06-23 04:35] bladey commented on #3401
Hi @ShivaniBali,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward, thanks!

[2020-06-23 04:36] bladey commented on #3396
Hi @jfcernel,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward, thanks!

[2020-06-23 04:42] bladey commented on #3640
Hi @jayjaydluffy,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 04:44] bladey commented on #3628
Hi @sandbox4013,

I wanted to check in and see if you were able to resolve this. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 04:46] bladey commented on #3622
Hi @29er,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 04:47] bladey commented on #3614
Hi @akinorimiz and @ZhevnyakVladislav,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 04:57] bladey commented on #3595
Thanks for providing some insights @fameriks.

@Flakelf and @rabbit0321 I wanted to check in and see if @fameriks's answer has helped you.

[2020-06-23 04:59] bladey commented on #3564
Hi @tonix-tuft,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 05:01] bladey commented on #3798
Hi @panukettu and @willlma,

I wanted to check in and see if you were still encountering this issue. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 05:04] bladey commented on #3750
Hi @vimiPonyai,

I wanted to check in and see if you still required this feature. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 05:36] vimiPonyai commented on #3750
@bladey sure, it`s pretty useful if support tree-select component. actually I can`t find any good tree-select component while using react + material-UI.

[2020-06-23 05:47] bladey commented on #3706
Hi @ncrum,

I wanted to check in and see if you ended up implementing one of your proposed solutions, thanks!

[2020-06-23 05:48] bladey commented on #3703
Hi all,

As you may be aware, this bug has been reported multiple times as per issue #4094. On behalf of the maintainers I apologise it's taken awhile to get to this.

A new master issue #4094 has since been created to help keep track of this bug going forward.

This new issue will exist as the source of truth going forward to investigate the issue, report findings, and implement a bug fix.

We'll

[2020-06-23 06:11] bladey commented on #3688
Hi @rgllm,

I wanted to check in and see if you found a solution to this, or if it's still something you need solved. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 06:21] bladey commented on #3687
As far as I can see this was re-implemented from scratch at one point and the string/number improvement was not brought forward.

[2020-06-23 06:34] bladey commented on #3882
Hi @SAGARACH65,

I wanted to check whether PR https://github.com/JedWatson/react-select/pull/2176 would potentially solve your issue, please let me know.

Thank you!

[2020-06-23 06:36] bladey commented on #3880
Thanks for the assistance @ebonow.

@dannnylin, @hnhegde and @antonostrovsky could you please let me know if this solves your problem.

[2020-06-23 06:40] bladey commented on #3867
Hey @eran-or, thanks for the detailed issue. I'm having trouble reproducing this, `onBlur` appears to be working fine. Could you please provide a video of the issue from within the Codesandbox? Thanks!

[2020-06-23 06:44] bladey commented on #3825
Thanks for the assistance @mmarchuk-jama.

@tzviyacohenduda did this end up assisting you?

[2020-06-23 06:47] bladey commented on #3822
Hi @prateek0227,

I wanted to check in with you and the above issue to see if @IanVS's PR suggestion would have solved your issue.

[2020-06-23 06:50] bladey commented on #3820
Hi @dgwyer,

It appears you can use `react-select` via a CDN with the following code - https://stackoverflow.com/questions/53927307/how-to-import-from-react-select-cdn-with-react-and-babel

Let me know if this solves your issue.

[2020-06-23 06:53] bladey commented on #3806
Hi @armspkt,

I wanted to check in and see if you were still encountering this issue, or managed to find a reason why `onClick` wasn't working for you. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 06:54] #3981 closed

[2020-06-23 06:57] bladey commented on #3935
Hi @Eddie-HS,

I wanted to check in and see if you were still encountering this issue or found a solution. We're triaging issues at the moment to sustain the project going forward.

[2020-06-23 08:30] armspkt commented on #3806
@bladey This issue still happens on the mobile device.

[2020-06-23 09:20] dgwyer commented on #3820
@bladey Already doing that.

[2020-06-23 09:35] annamatveev opened #4096 "Long word in options is overflowing the select box"
When adding a long value with no spaces for an option, it doesn't break the word to multiple lines.

https://imgur.com/a/ZqCYtZh

[2020-06-23 11:01] onukselcuk commented on #2629
This is so annoying all Select components need 3 ids.
1. id
2. instanceId
3. inputId

[2020-06-23 11:43] EdenTurgeman commented on #1581
Is there any new news regarding forcing react-select to fetch?

[2020-06-23 12:53] dehghani-mehdi commented on #3401
@bladey I'm the author and I'm not __ShivaniBali__, you mentioned her, why you added `awaiting-author-response` tag?

[2020-06-23 14:03] spencerpauly-mobileaxept commented on #3824
I ran into this issue as-well with react-select and react-virtualized. In my case it would be nice for this to be fixed because if I try to wrap the `menuList` in an AutoSizer HOC to make the virtualized dropdown have a dynamic width, then it will not scroll properly. Removing the AutoSizer makes scrolling work again, but then the width has to be set to a fixed number.

Currently I downgraded to 3

[2020-06-23 14:31] ebonow commented on #4095
Thank you so much @Rall3n !

I created a working sandbox using the code you provided and it [works perfectly](https://codesandbox.io/s/react-codesandboxer-example-s6to7?file=/example.js).

Hoping we can get the documentation updated.

[2020-06-23 14:46] ncrum commented on #3706
@bladey I did not. Feel free to take it, as I'm not likely to get around to it, thanks!

[2020-06-23 14:49] 29er commented on #3622
gosh this was so long ago. I don't even remember how i fixed it :) sorry !

[2020-06-23 14:51] ebonow commented on #4096
I'd say this is more of a feature than a bug.

Splitting a word at non-naturally occurring white-spaces is not the default behavior of html elements. Fortunately, this is accessible via the `word-break` CSS property ([reference](https://developer.mozilla.org/en-US/docs/Web/CSS/word-break))

If you would like to implement this in your own solution, you do have access to the styling of the options s

[2020-06-23 15:00] ebonow commented on #4049
@jibberishclient after some help, I was able to put together an example to demonstrate how using Custom Components and Emotion, you could add your own Tailwind supported CSS classNames.

https://codesandbox.io/s/react-codesandboxer-example-s6to7?file=/example.js

The example shows a custom Option component, but the same pattern should apply for both the Input and Menu.

Please let me know if this

[2020-06-23 15:39] ebonow commented on #4078
@marcdelalonde

Does this mean that you are using a multi-select (isMulti = true)?

If you are hiding the selected values, then there is a prop called `controlShouldRenderValue` that might be what you are looking for.

[2020-06-23 15:54] ShivaniBali commented on #3401
Hi All,

Thank you for looking into my query.

I had changed the way I was operating: I used : e.target.value and
controlled my handler. It had worked.
Please perform the closures on this ticket if needed. Also, let me know if
you guys need to have a look on my code. It's been long so I need to look
and will share the code snippet with you all.

Best,
Shivani

On Tue, Jun 23, 2020 at 8:53 AM Mehdi

[2020-06-23 16:06] #4096 closed

[2020-06-23 16:07] annamatveev commented on #4096
Thanks! I created a PR to solve this issue, if you'd like to merge this solution.

[2020-06-23 16:30] ebonow commented on #4096
I believe you misunderstand. This is not an issue and not something that should be merged into master.

The solution creates an unexpected result as the default behavior of any HTML element is that it should not wrap to new line if there are no spaces.

My biggest concern with this is that it could interfere with use-cases where a user would want to instead trigger `text-overflow: ellipsis` instea

[2020-06-23 17:02] ebonow commented on #4053
@himerus The best way to add attributes to an Option component is to create your own Custom Component.

[Here is an example](https://codesandbox.io/s/react-codesandboxer-example-s6to7?file=/example.js) using custom components using Emotion for managing the internal component styling. The list of options you provide to the select can contain any extra information within the option data that which c

[2020-06-23 17:05] corysimmons commented on #3585
@bladey Awesome, thanks for the update and all your hard work!

[2020-06-23 17:10] ebonow commented on #4071
I believe this can be closed as the documentation cites this specific prop as a section within the upgrade documentation.

https://react-select.com/upgrade-guide#simple-value

[2020-06-23 17:51] ebonow commented on #4009
Greetings,

I agree that this could/should be a feature request as it seems a common enough use-case that takes a bit to get to.

In the meantime, here is an implementation of react-select with this functionality: https://codesandbox.io/s/epic-rgb-6nfdv

[2020-06-23 18:07] mattaningram commented on #3822
@bladey I can't speak for @prateek0227 but it appears the PR would address this same issue I am having. I am not dealing with the scroll-to issue the PR also deals with, but the positioning not being based on nearest scrollable parent is causing me a lot of problems.

[2020-06-23 18:45] MohsenEs opened #4098 "add button icon to select"
How can I add a button to the end of select to open a modal by clicking?

[2020-06-23 19:58] tonix-tuft commented on #3564
Thank you for your reply @bladey. I am still facing this issue, yes, I mean it would be great to have a simple and concise API to achieve what I mention in my [comment above](https://github.com/JedWatson/react-select/issues/3564#issuecomment-530314320)!

[2020-06-23 21:17] ebonow commented on #4098
Hello @MohsenEs

I am not clear what your question is. My best guess is one of the 3 options...
-----------------------I
I  Select......... 1*  I ▼ 2 * I 3*
-----------------------I

1. At end of selected option before the dropdown indicator
- You will need to create a custom ValueContainer component

2. Inside the select but next to the dropdownIndicator
- You will need to create a custom Indicat

[2020-06-24 00:17] bladey commented on #3820
Thanks for replying @dgwyer - and you're saying it's still not working? Your Codepen is out of date and doesn't refer to the method above.

[2020-06-24 00:20] prateek0227 commented on #3822
My apologies @IanVS I guess I missed your previous comments.
@bladey I spent my whole day today trying to check if Ian's changes work for me but unfortunately they are not working and I'm able to reproduce the main issue. If the changes I made in `packages/react-select/src/utils.js` are also added to Ian's changes, then they seem to work a little bit but not for every case.
I have also made a tiny

[2020-06-24 00:24] bladey commented on #3622
No problem @29er, thanks for replying. I'll close this for now.

[2020-06-24 00:24] #3622 closed

[2020-06-24 00:32] bladey commented on #3401
Apologies @dehghani-mehdi, my mistake - the communications in this issue were mixed up.

[2020-06-24 00:36] bladey commented on #4071
Thanks for your assistant @ebonow, much appreciated.

@canercak if this doesn't solve you're issue, please let us know.

[2020-06-24 00:36] #4071 closed

[2020-06-24 08:29] Eddie-HS commented on #3935
yes, the issue still exists.

[2020-06-24 08:31] dgwyer commented on #3820
The codepen uses a CDN to load the react-select script.

See my original post: "How do you import the component into the pen **when including it via a CDN**"

[2020-06-24 10:44] vikjsdev commented on #3147
thank you!!!

[2020-06-24 11:00] pertsenga commented on #404
It's 2020 and sadly, I still can't find a fix for this

[2020-06-24 12:01] rgllm commented on #3688
Hi @bladey.

Yes, I found a solution. I changed the MenuList component and rendered inside the way I wanted.

[code]

[2020-06-24 13:44] jacobbrown0192 opened #4099 "ScrollCaptor on unmount throw error as scroll target is null"
Hey,

I am getting an error `Cannot read property 'removeEventListener' of null` when unmounting the ScrollCaptor.

The problem is that when the select component menu mounts the scroll target in the ScrollCaptor doesn't get set. Not sure the exact cause but it has to do with me using a custom virtualized menu component and dynamically adding in the select and the menu items async loading. (if I am

[2020-06-24 13:52] pertsenga commented on #3120
Any update for this issue?, happens to me as well in Netlify CMS preview

[2020-06-24 14:58] A-n-d-r-e-a-s-M commented on #4098
Hi,
if you write
`components.Control {...props}>
        {children}
        <button onClick={openModal}>Open Modal</button>
    </components.Control>` (I fixed the code above)
then you will see the button at the end of the Select element. But, if you click on the button, the dropdown is opened. The same thing happens with IndicatorsContainer. How can I execute the button action without the dropdow

[2020-06-24 16:20] MohsenEs commented on #4098
That's exactly what I want, but does it get an error with your code? What's the problem?

index.js:1 The above error occurred in the <Control> component:

Uncaught TypeError: getStyles is not

`import React from 'react';
import Select, { components } from 'react-select';
import { colourOptions } from '../data';
const openModal = () => { /* Your code goes here */ };

const Control = ({ children, ..

[2020-06-24 16:46] ebonow commented on #4098
Thanks for finding the missing props I forgot to spread to the custom component. I updated the example code.

In regards to the menu component popping up, that does present a bit more complexity than I anticipated.

My initial thought would be the following:
-  Wrap components.Control in a parent div and make the button a sibling
- Override the styling for the Control to have no border or box-shad

[2020-06-24 16:49] ebonow commented on #4098
@MohsenEs

@A-n-d-r-e-a-s-M  found that I had missed passing in the rest of the props to the component.Control. I have updated it so it should recognize those missing props if you try now.

[2020-06-24 18:12] MohsenEs commented on #4098
Can you send me the explanation code you gave me?

[2020-06-24 18:18] MohsenEs commented on #4098
In fact, there was another way, using the input group, but if you put the button in the select, it will be more beautiful.
![2020-06-23_23-12-08](https://user-images.githubusercontent.com/46873097/85611015-cb320e80-b66c-11ea-9652-0d723a03a144.jpg)
![2020-06-24_22-46-26](https://user-images.githubusercontent.com/46873097/85611023-cc633b80-b66c-11ea-94bb-4c83d7c4c9d7.jpg)
![2020-06-24_22-46-36](http

[2020-06-24 18:44] ebonow commented on #4098
There's an issue with the way focus is given to the Control component that prevents the button to be pressed without opening the Menu. I will look at a solution and give explanation with it.

In regards to UI example, I very much agree and am using something very similar but with a wrapper around two react-selects. One to choose the type of dropdown and the other to select.

<img width="317" alt="

[2020-06-24 23:44] RyanChristian4427 commented on #4091
It is indeed a Preact issue, the types exported aren't as complete as could be desired. Contributions are always welcome though.

This isn't something for `react-select` to fix.

[2020-06-25 00:48] ebonow commented on #4098
I think the examples provide a better idea of what you are trying to do. You are not necessarily trying to put the Button in the Select, but rather next to it. It looks like you are using Bootstrap, but if not, the methodology should be similar.

1. Just wrap for your Button(s) and Select into an input-group
[code]
2. All that is missing is the styling. The container of the Select needs to be able

[2020-06-25 02:06] JoeZman opened #4100 "Custom Options created multiple times?"
I display multiple cards on a page.  Each card has a Select that loads data from the network.  When the user clicks the Select (to open the menu), I load the data and create custom options.  I do this in the onMenuOpen callback.  This works fine as long as I make no additional state calls.  If I set state while the menu is open, my custom options are **recreated** again.  Can anyone suggest a bett

[2020-06-25 04:30] bladey commented on #3820
Thanks for taking the time to reply to me @dgwyer, much appreciated.

[2020-06-25 04:37] bladey commented on #3688
Thanks for sharing the solution @rgllm, much appreciated!

[2020-06-25 04:37] #3688 closed

[2020-06-25 06:30] bladey commented on #4091
Hey @c2rob, @Methuselah96, and @RyanChristian4427,

Thanks for the help provided here. If this is indeed something that `react-select` doesn't need to solve, I'll close this issue for now, however if you think it should be re-opened, please do let me know.

[2020-06-25 06:30] #4091 closed

[2020-06-25 07:07] iulian-radu-at commented on #4099
Hi @jacobbrown0192,

I added only in start listening because the crashed happened for me only there. At that moment, I did not expected to have a crash in stop listening.

I am sure that you hit the case were we should have the same check in stop listening code too.

In my case, it happened because of a time race condition (most likely). It looks like it can be your case too.

Cheers,
Iulian

[2020-06-25 07:56] dstdnk commented on #4046
I misunderstood the doc, everything is right there.

[2020-06-25 07:56] #4046 closed

[2020-06-25 08:44] MohsenEs commented on #4098
Thanks, it's good. The only small problem is that when I put an icon or text in the button, a space is created. Where might the problem be?
![2020-06-25_13-09-44](https://user-images.githubusercontent.com/46873097/85687024-bb0a4580-b6e5-11ea-8fa5-2559d6189525.jpg)
![2020-06-25_13-10-17](https://user-images.githubusercontent.com/46873097/85687028-bc3b7280-b6e5-11ea-812d-8ec93e366583.jpg)

[2020-06-25 09:37] torbjorn-boost commented on #3510
I came here after struggling with `isOptionDisabled` not behaving like expected.

It seems counter-intuitive to be able to provide a function like this, and not have it called consistently. I remember having a similar issue earlier, though the details escape me, but it seems that again the fix is to simply map the array of options to a new array to "trigger a refresh" of the disabled state of the

[2020-06-25 12:35] MohsenEs commented on #4098
That's right, I reduced the padding

[2020-06-25 13:09] palashkaria commented on #4088
I think @mjb95 is right, as this is the behaviour of React Select in v2 also; menuPosition fixed & portal, both do not update the positioning of the Menu on scroll - so the menu is stuck. All the sanboxes here have menuPosition fixed, and portal, and nothing related to it was changed in that commit.

The bug mentioned by @bladey is related to a _workaround_ (`menuShouldBlockScroll`) to handle the

[2020-06-25 14:41] ebonow commented on #4098
@MohsenEs Vertical padding doesn't appear necessary on the buttons as it renders just fine for me with `padding: 0 0.75rem`

In any case, glad you found what you were looking for and if you are satisfied, please close this ticket so we can keep the issue log tidy.

[2020-06-25 15:47] ebonow commented on #4100
@JoeZman

It sounds like you have the following use-cases:
1. You have multiple Selects
2. Each requires some api data fetch that you don't want to call until the user has clicked/focused on a specific card/Select
3. You want to then apply some logic to that fetched data to create custom options

That said, you need to manage your state so it's only doing one data lookup. I recommend using onFocus

[2020-06-25 17:42] oakkar8 opened #4101 "Click event triggering twice."
react-select : 3.1.0
react: 16.11.0

In small screen mode, when i click the clear icon, the menu box also opens up..

[2020-06-25 23:08] kirkobyte commented on #3632
Would the maintainers be happy with a PR that normalises empty values for `isMulti` fields to `[]` for initial empty values & after clearing the field? Then we could keep the normalisation #3416 intended, while also having a more useful empty state

[2020-06-26 03:44] bladey commented on #4101
Hi @oakkar8, thanks for writing in.

Could you please provide a example video of the issue, as well as tell us which browser you're using?

Thanks!

[2020-06-26 04:00] oakkar8 commented on #4101
i am using chrome.

[2020-06-26 04:16] ebonow commented on #4101
The behavior is as you described in the video, but it also seems inconsistent with the behavior I'm seeing locally let alone the first example on the site's documentation.
https://react-select.com/home

Would you mind providing sample code so we could see what props are being used as we'd like to help discover any discrepancies between your code and the other examples.

[2020-06-26 04:33] oakkar8 commented on #4101
The example has also the same bug.. try with inspect mode and choose one of the phone size and try the example.. you will see as the video.

[2020-06-26 04:59] ebonow commented on #4101
Confirmed. I am able to replicate the behavior by going to Chrome DevTools > Toggle device toolbar (top left corner of window) and when emulating as Responsive.

A press on the ClearIndicator activates the Menu.

[2020-06-26 05:19] ebonow commented on #4101
More information on this:

Appears that I am getting an error in the console:
[code]

Which ironically is a typo/bug in Chrome as the actual url is:
https://www.chromestatus.com/feature/5093566007214080

Treat Document Level Touch Event Listeners as Passive
DOM

AddEventListenerOptions defaults passive to false. With this change touchstart and touchmove listeners added to the document will default

[2020-06-26 06:27] srinivasmerugu commented on #3030
hi @lbj1960 I like this conditional adding of zindex however it was not adding 9999 zindex when I tried your approach .. Am I missing something here?

[2020-06-26 11:06] Limitless994 commented on #3128
Hello, I've done this with my react App but now im unable to retrive the value of my Select object. How to access it? ( I need it to assign the value to a state variable)

[2020-06-26 14:19] Methuselah96 commented on #3632
I'm definitely in favor of this. I'm working on porting `react-select` to TypeScript and it there a lot of places that return `[]` when there are no options selected and only couple of places where we actually remember to change it to `null`.

@bladey @JedWatson I can make a PR for this change if you guys are okay with this change. There are only a couple of places where we would need to change th

[2020-06-27 05:42] #4098 closed

[2020-06-27 23:09] #4100 closed

[2020-06-28 03:06] stak99 commented on #4094
same issue

[2020-06-28 04:49] HTMLGhozt commented on #3882
Unsure about the original poster, but after testing the PR it works for my _similar_ issue.

[2020-06-29 04:32] bladey commented on #4101
Thanks for investigating and the detail @ebonow.

[2020-06-29 04:44] bladey commented on #2239
This issue will now be closed due to inactivity. If anyone can reproduce this bug and provide a Codesandbox example, please let me know and the issue will be re-opened.

[2020-06-29 04:44] #2239 closed

[2020-06-29 04:44] bladey commented on #1771
This issue will now be closed due to inactivity. If anyone can provide a Codesandbox example, please let me know and the issue will be re-opened.

[2020-06-29 04:44] #1771 closed

[2020-06-29 04:44] bladey commented on #3555
This issue will now be closed due to inactivity. If anyone can provide further feedback, the issue will be re-opened.

[2020-06-29 04:44] #3555 closed

[2020-06-29 04:44] bladey commented on #3659
This issue will now be closed due to inactivity. If anyone can provide further feedback, the issue will be re-opened.

[2020-06-29 04:44] #3659 closed

[2020-06-29 04:45] bladey commented on #3736
This issue will now be closed due to inactivity. If anyone can provide further feedback, the issue will be re-opened.

[2020-06-29 04:45] #3736 closed

[2020-06-29 04:45] bladey commented on #3732
This issue will now be closed due to inactivity. If anyone can provide further feedback, the issue will be re-opened.

[2020-06-29 04:45] #3732 closed

[2020-06-29 04:45] bladey commented on #3653
This issue will now be closed due to inactivity. If anyone can provide further feedback, the issue will be re-opened.

[2020-06-29 04:45] #3653 closed

[2020-06-29 04:45] bladey commented on #3963
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:45] #3963 closed

[2020-06-29 04:45] bladey commented on #3962
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:45] #3962 closed

[2020-06-29 04:45] bladey commented on #3921
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:45] #3921 closed

[2020-06-29 04:45] bladey commented on #4002
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:45] #4002 closed

[2020-06-29 04:45] bladey commented on #4004
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:45] #4004 closed

[2020-06-29 04:46] bladey commented on #4041
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4041 closed

[2020-06-29 04:46] bladey commented on #4054
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4054 closed

[2020-06-29 04:46] bladey commented on #4050
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4050 closed

[2020-06-29 04:46] bladey commented on #4047
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4047 closed

[2020-06-29 04:46] bladey commented on #4086
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4086 closed

[2020-06-29 04:46] bladey commented on #4038
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4038 closed

[2020-06-29 04:46] bladey commented on #4022
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4022 closed

[2020-06-29 04:46] bladey commented on #4055
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4055 closed

[2020-06-29 04:46] bladey commented on #4003
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:46] #4003 closed

[2020-06-29 04:47] bladey commented on #4030
This issue will now be closed due to inactivity. If anyone has further feedback, the issue will be re-opened.

[2020-06-29 04:47] #4030 closed

[2020-06-29 04:48] bladey commented on #3396
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:48] #3396 closed

[2020-06-29 04:48] bladey commented on #3640
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:48] #3640 closed

[2020-06-29 04:49] bladey commented on #3628
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] #3628 closed

[2020-06-29 04:49] bladey commented on #3614
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] #3614 closed

[2020-06-29 04:49] bladey commented on #3595
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] bladey commented on #3798
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] #3798 closed

[2020-06-29 04:49] bladey commented on #3880
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] #3880 closed

[2020-06-29 04:49] bladey commented on #3867
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] #3867 closed

[2020-06-29 04:49] bladey commented on #3825
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] #3825 closed

[2020-06-29 04:49] bladey commented on #4078
This issue will now be closed due to inactivity as there has been no response for further information. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:49] #4078 closed

[2020-06-29 04:51] bladey commented on #3882
Thanks for the feedback @HTMLGhozt.

This issue will now be closed due to inactivity as there has been no response from the original author. If anyone has further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:51] #3882 closed

[2020-06-29 04:52] bladey commented on #4053
Thanks for such a detailed response @ebonow.

This issue will now be closed. @hlarcher if you have any further feedback please let me know and the issue will be re-opened.

[2020-06-29 04:52] #4053 closed

[2020-06-29 04:59] bladey commented on #4049
Thanks for providing such a helpful example @ebonow.

This issue will now be closed due to inactivity from the original author. If you have any further feedback, let me know and the issue will be re-opened.

[2020-06-29 04:59] #4049 closed

[2020-06-29 05:00] bladey commented on #4099
Thanks for the detailed answer @iulian-radu-at.

This issue will now be closed. @jacobbrown0192 if you have any further feedback, let me know and the issue will be re-opened!

[2020-06-29 05:00] #4099 closed

[2020-06-29 14:49] corysimmons commented on #4094
For anyone else going insane over this, you can disable those warnings (and other, actually helpful ones) by commenting out `<React.StrictMode>` in `index.js`. Just remember to uncomment it a few times a day to get the helpful warnings.

[2020-06-29 15:16] as-com commented on #299
This is still an issue - select2 implements this native behavior of being able to drag the mouse to select an item, but react-select still does not.

[2020-06-29 22:59] gtdeng commented on #1384
Adding `isFocused` and `isSelected`

[code]

[2020-06-30 03:03] pulkitgoyal24 commented on #3507
Is there any update on this issue. onChange on <Select> is working fine on mouse click but not working when press keyboard enter key in Chrome browser.

[2020-06-30 17:09] richardpayne commented on #642
I added the following, as clicking the chevron for opening the menu also opened it:
`menuIsOpen={readonly ? false : undefined}`
As mentioned by @umphy it doesn't help with the readonly attribute...

[2020-07-01 13:41] emin-karadag opened #4104 "The problem of deleting the custom option"
Hello there,
We use react-select in one of our projects.
However, we have a problem. When we write something that is not among the react-select options, we do not want it to be deleted and we want to save it. Currently, something that is not included in the react-select element is deleted automatically. We want the opposite. The value we write manually is not deleted and we can save it. We need th

[2020-07-01 19:42] lausellduane commented on #2493
@jossmac how we do that for v1? ..formatCreateLabel={userInput => `Search for ${userInput}`} doesn't work in v1.

[2020-07-01 20:48] onionhammer commented on #2706
This library doesn't work too well with CSS modules OOTB as far as I can tell.

In React if I import styles via

`import styles from some.module.css`

there is no effective way to utilize the `styles` to style the react-select.

[2020-07-01 22:17] jossmac commented on #2493
@lausellduane see [my comment](https://github.com/JedWatson/react-select/issues/2493#issuecomment-402621154), which references the `promptTextCreator` function from the [v1 docs](https://github.com/JedWatson/react-select/tree/v1.x#creatable-properties).

[2020-07-02 02:45] brentg5 commented on #2909
I would love for this to be fixed so I can use styled components here. Any chance of re-opening this?

[2020-07-02 03:58] hkung77 commented on #3909
@randal923 Could you explain what you meant by `defaultValue`?

[2020-07-02 16:11] Komalov opened #4106 "Paste from buffer on mobile devices"
It's a bug or at least a very unexpected behavior when pasting values on mobile devices

I can make component to paste value only after 2 or more attempts

![paste react select](https://user-images.githubusercontent.com/26224268/86383273-208aa300-bc9f-11ea-8f75-e74ef1592b6b.gif)

Before it was suggesting to copy placeholder instead, so I made some tricks with styles
[code]
But anyway there is a 2p

[2020-07-02 17:41] imyjimmy opened #4107 "classNamePrefix is not applied to the top most portal div"
As documented in [Select.js](https://github.com/JedWatson/react-select/blob/master/packages/react-select/src/Select.js#L97), `classNamePrefix` is applied to all inner components, but it does not apply to the top-most portal div. Will there be some support for this, or an equivalent workaround?

[2020-07-02 23:49] bladey commented on #2909
Thanks for the feedback @brentg5, we'll review the issue.

[2020-07-03 05:52] impulsivetomato commented on #3916
I'm getting this too

[2020-07-03 06:45] dbalas commented on #4028
I have the same issue, I'm using react-custom-scrollbars

[2020-07-03 13:05] Brozart opened #4108 "menuplacement auto in div with overflow not correct"
Menuplacement auto in a div with overflow auto, puts the menu to the bottom. Even when there is not enough space. This makes the form or div scrollable when it doesn't need to. This occurs when the select is put on the bottom of the form.

Examples:
<img width="174" alt="Schermafbeelding 2020-07-03 om 14 59 50" src="https://user-images.githubusercontent.com/15219751/86471579-e91f0380-bd3d-11ea-89f

[2020-07-03 13:14] Rall3n commented on #4028
The `Select` component is capturing scrolling in the dropdown by default so they can handle the appropriate events for the props `onMenuScrollToTop`, `onMenuScrollToBottom`.

You can disable this behaviour by using the `captureMenuScroll` prop by setting its value to `false`. **BE AWARE** that this will disable the functionality of the above mentioned props.

[2020-07-04 04:42] cjke commented on #4045
I came here searching for an identical issue. Unless https://react-select.com/home#getting-started has changed in the last month, the style of object passed to `value` isn't on the page you linked.

@benlieb has articulated his concern extremely well. There is no clear definition in the docs the "shape" the value object **must** take. Are both label and value needed? What happens if the object con

[2020-07-04 04:45] manualva7 commented on #4045
What is your issue exactly?

[2020-07-04 04:51] cjke commented on #4045
Query 1: I am looking for the definition/documentation for the "shape" of "Object" in the following (from https://react-select.com/props):

**value**

[code]

Query 2: Does the "Object" shape need to be an exact match (do all keys need to exist and match) or a loose match (extra present keys are acceptable)?

[2020-07-04 05:36] manualva7 commented on #4045
Why? Please share an example of your problem so we can help you.

[2020-07-04 06:00] cjke commented on #4045
The primary problem is my inability to find the exact shape needed for the "value" object in the documentation. It's identical to the issue raised in https://github.com/JedWatson/react-select/issues/4045#issuecomment-628953501 above.

For example, I would expect to see some shape definition like the below in the documentation (similar to "internal props" in https://react-select.com/props ):

[code

[2020-07-04 07:07] llell8 commented on #3902
i wonder if there is an option to make disabled option not only selectable/unselectable but also clickable/unclickable... thus the disabled options will have they own class and will be visual recognisable as disabled but users will be able to click them..

[2020-07-04 07:42] pmehta-18 commented on #4108
@Brozart your example works perfectly fine, if <Select /> tag is placed at the bottom of the page when there is no sufficient height for accommodating the menu. It is in the in-built behavior of the library itself.
Check this example: [https://jhlkd.csb.app/](https://jhlkd.csb.app/)

[2020-07-04 07:51] Brozart commented on #4108
@pmehta-18 I know, but you need to make the browser smaller in height. There is a small area where the menu is still placed to the bottom when there isn't enough space.

<img width="1678" alt="Screenshot 2020-07-04 at 09 48 18" src="https://user-images.githubusercontent.com/15219751/86507839-a7dd3100-bddb-11ea-8312-50b177ffb471.png">

[2020-07-04 16:15] MohsenEs opened #4110 "How can I use other names instead of value and label?"
How can I use other names instead of value and label? For example, id and name

[2020-07-05 13:26] MohsenEs commented on #4110
https://react-select.com/upgrade-guide#simple-value

[2020-07-05 13:26] #4110 closed

[2020-07-06 06:15] bladey commented on #3618
Hi all,

This is the only error I found - https://github.com/JedWatson/react-select/commit/d159051489b308508c116c1c7855edfc3c1f6adc

The rest of the examples are valid and working (in Codesandbox) - https://github.com/JedWatson/react-select/commit/d159051489b308508c116c1c7855edfc3c1f6adc

If you're still having issues, please let me know what your build environment is.

[2020-07-06 06:15] #3618 closed

[2020-07-06 06:41] bladey commented on #4095
Thanks for working this out @Rall3n and @ebonow, I've created a PR with the necessary changes.

Could you please have a look at PR https://github.com/JedWatson/react-select/pull/4112 and give me the go ahead to release it.

Thank you!

[2020-07-06 09:22] SuperMari0o commented on #3491
The current issue is still exist (even in the latest version 3.1.0). It would be great if you took a look on it.

[2020-07-06 11:01] at-cuongtran commented on #2872
I almost never use default style ever, maybe a theme, so it would be very helpful if we can just disable it

[2020-07-06 11:03] iJoyCode commented on #2872
+1

[2020-07-06 11:11] Rall3n commented on #3491
@SuperMari0o Could you provide a minimal reproducible example of the issue?

[2020-07-06 11:22] Zacaria commented on #2872
Hello guys, don't stay stucked here.
Patch yourself the lib and use https://www.npmjs.com/package/patch-package.

This will be much faster 😄

[2020-07-06 13:51] Rall3n commented on #2872
If you don't want to use an object with all the styles set to an empty function, why not use a [`Proxy`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy):

[code]

It's much cleaner than a complete object.

[2020-07-06 14:57] ThibG commented on #2030
Indeed, this is broken again because of using the `emotion` library, and the only way to get away with it seems to switch to nonce-based CSP and pass the nonce to `emotion` according to https://emotion.sh/docs/@emotion/cache#nonce

[2020-07-06 20:07] idrawdesigns commented on #3916
Has this issue been resolved? getting the error on my side..

[2020-07-07 00:04] brentg5 commented on #2909
Thank you @bladey, much appreciated!

Specifically what I've been trying to do is use `styled` or the `css` prop from styled-components on the `MenuPortal` component so that I can set the z-index of the portal. When I try to add any css in that way, none of it makes its way through to the dom (the generated classname doesn't get put anywhere).

I think the original ask of this ticket should solve

[2020-07-07 04:11] #4095 closed

[2020-07-07 04:16] razh commented on #4107
You can also specify `props.className`:

[code]

Which would result in approximately this HTML:

[code]

[2020-07-07 04:28] bladey commented on #4107
Thanks for the help @razh, does this resolve your problem @imyjimmy?

[2020-07-07 08:48] Dror-Bar commented on #2304
@searene are you sure? because object cannot have a property set with '=', you have to use ':'
but even setting it like that did not work for me.

[2020-07-07 09:00] SuperMari0o commented on #3491
@bladey, @Rall3n Here is the example of reproduction current issue: https://codesandbox.io/s/react-select-v3-sandbox-6kcol?file=/example.js

[2020-07-07 09:07] Dror-Bar commented on #2304
It's a bit tricky, but the documentation covers it in "styles" section. I did it like this:

<Select
styles={{ option: (provided, state) => ({ ...provided, fontFamily: state.value })}}
  name="form-field-name"
  value={value}
  onChange={this.handleChange}
  options={[
    { value: 'Arial', label: 'Arial' },
    { value: 'Times New Roman', label: 'Times New Roman' },
  ]}
/>

[2020-07-08 04:09] bladey commented on #3739
Hi all,

What you want to do here is pass in `ClearIndicator` or `DropdownIndicator` to replace the cross icon or down chevron as per @buszmen201's suggestion.

The docs are correct and show examples, with `Custom ClearIndicator Example` and `Custom Dropdown Indicator Example` on the [components page](https://react-select.com/components#components) .

See working example here (based off @buszmen20

[2020-07-08 04:33] ebonow commented on #4104
Hello @emin-karadag ,

I am not sure I understand the problem you are trying to solve.

"Not among the react-select options"

Does this mean that you are trying to create a new option that is not in the list? If so, then I would recommend taking a look at the documentation for [CreatableSelect](https://react-select.com/creatable)

If this means that you want a new option to show up in the list, th

[2020-07-08 13:16] ekscentrysytet opened #4114 "Creatable select "Create new" option does not show up when `defaultMenuIsOpen={true}`"
# Are you asking a question?
No, reporting bug

# Are you reporting a bug or runtime error?
Bug. When `defaultMenuIsOpen={true}` and `isValidNewOption={() => true}` "Create new" option does not show up. It eventually starts to show up only when type any input or close and open menu again. Here's the sandbox: https://codesandbox.io/s/react-codesandboxer-example-1wl0i?fontsize=14&hidenavigation=1&th

[2020-07-08 19:35] ebonow commented on #4114
I looked at your Sandbox and was able to have success when adding the prop `openMenuOnFocus`.

This may or may not fit your use-case and it doesn't fix the issue of showing a new Createable Option when the input is blank, but hopefully this helps resolve your question about other ways for it to be displayed by default.

[2020-07-09 02:31] yarinsn opened #4115 "dropdown doesnt open when clicking a custom ValueContainer that was loaded with selected values"
issue is reproduced here:
https://codesandbox.io/s/react-select-custom-valuecontainer-with-values-issue-9bllj?file=/src/index.js

[2020-07-09 04:46] ebonow commented on #4115
[Value Container](https://react-select.com/components)
`Container responsible for loading the placeholder value and the input.`

Your example replaces the children of the Value Container with a string value but by removing the children, you have also removed the Input and Placeholder components which are used to handle focus and click events to open the menu.

If you click the IndicatorsContainer,

[2020-07-09 04:52] yarinsn commented on #4115
i guess what i found weird about the situation is that as long as i dont load the control with values, everything works fine.
but yeah, i understand that there is a correct way of achieving what i need. ill look into it. thanks!

[2020-07-09 06:40] bladey commented on #4114
Thanks for your assistance @ebonow.

Does this help solve your issue @ekscentrysytet?

[2020-07-09 07:06] jackkinsella opened #4116 "Provide description of how to browser/integration/acceptance test"
# Reproduction steps

Visit [your homepage](https://react-select.com/home) and interact with the component yourself in the console. You can get a reference to one of them with:

[code]

Now try interacting with it

[code]

Neither work, which makes browser testing challenging.

# Background

Most professionals these days do some form of end-to-end testing, ours included. The only component in our

[2020-07-09 09:36] ekscentrysytet commented on #4114
@ebonow thanks for the workaround it exactly solves my case! @bladey yup, however I would still expect "Create new" option to show up when `defaultMenuIsOpen={true}` and `isValidNewOption={() => true}`. You may close the issue

[2020-07-09 10:03] goofballLogic commented on #1178
I did offer to contribute/help. some of us still care about isomorphism...

[2020-07-09 10:11] bladey commented on #1178
Thank you for your reply @goofballLogic, we'll re-open this!

[2020-07-09 13:33] srinivasmerugu commented on #4088
Hi @bladey Could you please let us know if this would be prioritised and made available in next patch release please.

[2020-07-09 15:00] AaronMcCloskey opened #4118 "Aysnc Select retrigger loadOptions?"
I have an async `react-select` component

[code]

I use this component in another component to load an array and filter options from the input value

[code]

However, I want it so when I select an option, it then loads another list (without the list closing, instead loads a new list in the old lists place), but I am unsure how I can retrigger the `loadOptions` prop within `react-select/async` when

[2020-07-09 17:16] DragonRaider5 commented on #1453
Be careful with this as it creates a new object on each and every render of your select.

[2020-07-09 18:02] ebonow commented on #4116
Greetings @jackkinsella,

I agree that this behavior is not necessarily straight forward, so I will attempt to unravel what I have learned from exploring the source code a bit.

First, you are targeting the select wrapper itself. Your target node should be the `Control` component. The Control should always be first child component of container, but classNames would work too ('.select__control' in

[2020-07-09 18:31] imyjimmy commented on #4107
I went with something else entirely, but this should also work. Thanks.

[2020-07-09 18:31] #4107 closed

[2020-07-09 18:40] ebonow commented on #4118
@AaronMcCloskey I believe I understand what you are trying to accomplish. My first stab at this would be to ensure that your loadOptions function would need to be able to know whether there has been a selection.

[code]

In regards to retriggering it, you could blur and refocus to get the menu back open onChange.

I am not sure I fully understand, so if there is something missing in understanding

[2020-07-09 19:59] AaronMcCloskey commented on #4118
@ebonow Yeah, it's mainly the retriggering I am unsure of. Figuring out what is selected isn't an issue, in my actual code, I already have that part sorted. (I have updated the CodeSandbox to reflect this)

I am essential wanting a user to select the first option, then, the other list loads, without the list closing, or at least preventing the user from having to click the input again to get the n

[2020-07-10 06:16] emin-karadag commented on #4104
Hello @ebonow
You are right I told a little complicated. Let me put it like this: We want the Combobox feature, not Dropdown.
Maybe it was a little more understandable.

[2020-07-10 08:00] jackkinsella commented on #4116
Thanks for the response Eric. The use of another type of event internally helps explain why a standard click might not have worked.

Did the code you pasted above work for you to open up the select box on the React-Select homepage? Unfortunately it had no effect -- well at least no visible effect, for me in Chrome v83 (also no effect when I tried in Firefox). It's actually quite a mystery to me ho

[2020-07-10 14:34] richmeij commented on #2917
Hi, Im using Creatable in a project, and its not clear to me how to set/pass a nonce to react-select. Is there any documentation regarding this? Or maybe its possible to disable injecting CSS?

[2020-07-10 14:47] ebonow commented on #4116
@jackkinsella I was able to get the menu to open but through the use of a timeout since it would not work while I had focus on the console window. Maybe try setting a 3 second timeout and switch focus back to the page to see if that works for you.

[2020-07-10 15:45] kamarajuPrathi opened #4119 "How to provide space between chips in multi select"
<img width="455" alt="Screenshot 2020-07-10 at 10 45 25 AM" src="https://user-images.githubusercontent.com/25597219/87172843-7c09f180-c29a-11ea-9d04-af6063d37c26.png">

[2020-07-10 15:53] #4119 closed

[2020-07-10 16:14] ebonow commented on #4119
https://react-select.com/styles#select-props

You could accomplish this with classNames but if you wanted to add margin with the custom styling method while only adding margin between multi-values, you could check the state/props of the option to check its index and add extra marginLeft if its index isn't 0

[code]

[2020-07-11 13:54] ahatchkins opened #4120 "react-select.browser.*.js doesn't work from the browser via cdn"
I'm upgrading from react-select v2 (umd) which was possible to use directly from the browser via the cdn
(there's a recipe how to do it on stackoverflow: https://stackoverflow.com/a/53929535/237105).

What is the proper way (if any) to use v3 this way?

The https://unpkg.com/browse/react-select@3.1.0/dist/ distribution has two browser versions
of react-select:

- react-select.browser.esm.js - whic

[2020-07-11 15:30] dileepthomas opened #4121 "React select passing props for components to useMemo"
I am trying to use useMemo for the Option, MultiValue custom component in the react select.

When I tried it getting issue, am I missing something in the below code snippet?

Getting props undefined, what can be the issue, didn't find much reference on this

Sample Snippet

[code]

Reproducible code [link](https://codesandbox.io/s/keen-spence-8hg48)

If i remo useMemo hook it works, but not unders

[2020-07-11 15:34] ebonow commented on #4104
Combobox feature is essentially what the CreateableSelect is. It allows you to create a new option that doesn't exist in the list. However, since you are providing the options to the Select, so you need to add the new option to the list once it's been created (presumably with the `onCreateOption` prop.

Here is an example taken from the link I shared above.

https://codesandbox.io/s/29ovm?module=/

[2020-07-11 15:38] Rall3n commented on #4121
@dileepthomas This is not a problem with this library, but instead a problem with your understanding of **hooks**.

Please read up on the proper usage of **React hooks** over at the [React documentation](https://reactjs.org/docs/hooks-intro.html).

[2020-07-11 16:09] dileepthomas commented on #4121
Yep, but as per the docs this how we need to do it in react when using the useMemo hook, isn't @Rall3n

[2020-07-11 16:32] Rall3n commented on #4121
@dileepthomas Definitely not. All hooks are designed to be only used **inside functional components**, like so (as described in the docs):

[code]

Not as components like you did:

[code]

[2020-07-11 16:39] ebonow commented on #4118
@AaronMcCloskey Spent some time thinking on this with some approaches in mind. First the solution I was able to get working though admittedly quick and dirty. Add the `openMenuOnFocus` prop and then modify the onChange

[code]

Not ideal, but it works. You would likely want to abstract this into the onSelect method call but you would need to forward the refs so you have access to the blur and focu

[2020-07-11 16:46] ebonow commented on #4118
Some minor things, but it appears you are still using some removed or renamed props [(autoload and searchable)](https://react-select.com/upgrade-guide#prop-update-guide) Also, isSearchable is true by default.

Also your Sandbox example was made more difficult by the cacheOptions props as it would ignore the new options "chunk" so you may need to disable it for this use case.

[2020-07-11 17:01] ebonow commented on #4118
As for other approaches I tried, I thought the most straight forward way of approaching this is passing in the prop `closeMenuOnSelect={!!firstValue}`. This works for keeping the menu open, but menu did not update as you say.

There was some state behavior I was unable to figure out. I tried calling loadOptions from MySelect onChange method. Even after putting it in a timeout, my console logs were

[2020-07-11 17:19] jackkinsella commented on #4116
You mean something like this?

`setTimeout(() => triggerMouseEvent(select, 'mousedown'), 3000)`

I wasn't able to get this to work reliably (however once or twice, when I
clicked on a random part of the page, it would pop the menu open).

I wonder if there's a more direct way to get this behavior? Using timeouts
might prove brittle in a testing environment

On Fri, Jul 10, 2020 at 4:47 PM Eric Bon

[2020-07-11 17:56] ebonow commented on #4116
One caveat would be that it won't work if the select already has focus. Also noticed that the DOM of the Select changes depending on whether the document is focused (some kind of aria tag) so this targeting won't work when the console has active focus.

The timeout is simply to ensure time so that the tester can return focus to the document window (debugee) and not the inspector window.

Agreed th

[2020-07-12 19:56] ahatchkins commented on #4120
Here's what I've come up with so far:
[code]
Everything works except jsx.

[2020-07-12 22:03] yarinsn commented on #4115
okay so after fiddling with it, I ended up with this:

[code]

```index``` is not part of props, but ```data``` is. The function above runs every time an option is selected (but not only), and for every selected option separately, and ```data``` will always hold single selected value.
The ```!index``` makes sure that the component will be rendered once.

[2020-07-12 22:03] #4115 closed

[2020-07-13 01:38] ebonow commented on #4115
I guess I should ask what version of react-select you are using as the index prop is [a fairly recent addition.](https://github.com/JedWatson/react-select/releases/tag/react-select%403.0.8).  Your sandbox appears to be using version 2.12 so it's likely it wouldn't be accessible unless you upgraded.

Admittedly, prior to version 3.08 I was using CSS to hide all the other multiValues.
[code]

In any

[2020-07-13 08:17] ahatchkins commented on #4120
A hack that adds jsx support:
[code]

[2020-07-13 09:04] reidharry opened #4122 "Creatable multi select "Create" word added with new option randomly, while pasting and adding the new option."
# Are you asking a question?

No, reporting a bug

# Are you reporting a bug or runtime error?

Bug. When adding a new option by pasting the content in the Creatable multi-select   "Create" option also added with a new option randomly. I have checked in the [demo](https://react-select.com/creatable) also bug was reproduced,  Steps to reproduce given below along with bug video also attached for you

[2020-07-13 09:08] clmz opened #4123 "Missing class names in rendered multi-select component"
Hello!
If I set a custom classname for the react-select component like this:

<ReactSelect
...
className='react-select'>
the rendered component has divs with classnames like react-select__menu etc.

The element tree of a normal react-select:
![image](https://user-images.githubusercontent.com/47241471/87286313-0059b000-c4f9-11ea-9e55-eced4af3960f.png)

if I use the MultiSelect via prop isMulti, all

[2020-07-13 09:40] hmtri1011 commented on #4122
Same here, seem like it is a bug, in my case I have customized `formatCreateLabel` and `onCreateOption`
![image](https://user-images.githubusercontent.com/16288424/87289446-d7e8aa80-c526-11ea-83c2-e19ff17e0ca5.png)

Sometimes, my custom `onCreateOption` function does not execute and after that my custom `formatCreateLabel` appeared as a creatable value

[2020-07-13 10:51] emin-karadag commented on #4104
Hello @ebonow
Sorry, the sample you submitted doesn't solve my problem.
"CreatetableSelect" was rejected for user experience.
We want the expression we wrote to remain in the Combobox without hitting the "Select" expression.
Also, when we click on an outside area, we do not want the expression we wrote to be deleted.

we want something exactly like the one below.
https://jquense.github.io/react-wi

[2020-07-13 11:46] Rall3n commented on #4123
@clmz Could you provide a minimal reproducible example of your issue?

[2020-07-13 12:34] clmz commented on #4123
@Rall3n
kinda difficult because of the customizing, but I'll try:
I have a formik form:

`<Form isHorizontal col1={4} col2={8}>
                            ...
                           <Field
                                name="users"
                                type="multiselect"
                                label='users'
                                options={userOptions}

[2020-07-13 13:23] Komalov commented on #4106
Here is the small reproducible demo of what I said https://codesandbox.io/s/paste-on-mobile-rbncb?file=/src/App.js

If a long tap happened over the placeholder area we no longer have paste option. You can play with it to see this behavior is not stable

[2020-07-13 15:16] ebonow commented on #4123
@clmz Have you tried using the `classNamePrefix` prop?

[2020-07-13 15:34] ebonow commented on #4083
@rlucha

For starters, this sounds like a great UX. Part of me wonders if this isn't a larger request of enabling the editing text of selected values across SingleValues (though the work required would be entirely differently).

Perhaps an easier path to helping the community would be seeing if we can get a clean working example and having it added to the `Experimental` section of the site. My und

[2020-07-13 16:25] amitdavidson234 commented on #3965
@bladey Any update?

[2020-07-13 16:57] LexaDel opened #4124 "Custom MenuList doesn't scrolling"
Hello!
I use react-select version 3.1.0 and I trying create Custom MenuList, but when I add div container with overflow then scroll doesn't work.
`const menuOptStyle = {
  overflowY: "auto",
  maxHeight: "200px"
};`
[code]

[Example](https://codesandbox.io/s/react-codesandboxer-example-xzfh6?file=/example.js)

[2020-07-13 17:07] LexaDel commented on #4124
Duplicate of #4028

[2020-07-13 17:07] #4124 closed

[2020-07-13 17:11] ebonow commented on #4124
@LexaDel Greetings, it seems that you are trying to apply some styling to the MenuList, so I'd recommend applying the [styling through the styles prop.](https://react-select.com/styles)

[Here is a working forked example
](https://codesandbox.io/s/react-codesandboxer-example-rxp4f?file=/example.js)

[2020-07-13 17:46] ebonow commented on #4104
Combobox is a general UI concept, so just trying to understand your context.

It sounds like you want to retain the text input when the user leaves focus of the input. There are several different ways of achieving this but here's just one example I've written which also demonstrates selecting the text and keeps the [input visible and editable](https://codesandbox.io/s/react-select-editable-and-sel

[2020-07-14 05:54] taiwanhua commented on #780
you can just use styled-component to rewrite css, like below

`
import Select from 'react-select'
import styled from 'styled-components'

const SelectExtend = styled(Select).attrs((props) => ({}))`
    && {
        [class*="MenuList"] {
            //滾動條美化
            ::-webkit-scrollbar {
                width: 0.5em;
                height: ${props => props?.theme?.scrollHeight ?? 'initial'}; //

[2020-07-14 05:56] taiwanhua commented on #780
you can just use styled-component to rewrite css, like below :

[code]

[2020-07-14 07:16] rlucha commented on #4083
Sure, I will work on it. Thank you.

[2020-07-14 07:59] clmz commented on #4123
@ebonow
You're right - that works for me. I've not investigated in that direction because the naming of the inner components of the non-multi select was correct.
Thank you!

[2020-07-14 16:44] ebonow commented on #4123
@clmz Excellent! If it's all working as expected then, would you kindly close the issue to help us manage the open issues list? Thank you.

[2020-07-14 17:19] ebonow commented on #4083
@rlucha

Thank you. I think it'd be a big help and it looks like the first code sandbox you shared had a pretty good start. I suspect there might be some considerations needed. A few I can think of:
- Editing the multi-value to a textInput that doesn't exist (and the select isn't createable)
-- I'd imagine the expected behavior is to revert back to original multi value label selection

- Editing t

[2020-07-14 17:22] ebonow commented on #4083
Again, I think adding a few experimental examples might help alleviate a lot of the common issues people have using the component or maybe even manage to start a sticky thread people can go to and contribute.

As a placeholder for such a thing, I'd likely add this [sandbox example](https://codesandbox.io/s/react-select-editable-and-selectable-6nfdv) to demonstrate text editing of a SingleValue.

L

[2020-07-14 20:28] koga73 commented on #1453
Still no updates? This issue was opened in 2016!
Would passing "required" through to the inner input work? If not how about rendering a hidden <select> in the same location as the UI one. Keeping values in sync the HTML validation would run on the hidden select and draw focus / report errors. Styling could be achieved via :invalid pseudo-class on the hidden select. Something like: `select:not(:val

[2020-07-15 03:29] kamarajuPrathi opened #4125 "Dont know what props to be passed if i have to have a custom control"
i am using @rmrc/textfield(https://www.npmjs.com/package/@rmwc/textfield)

to provide that as a custom control , i am not sure what props do i need to pass to behave it as select ..

[2020-07-15 03:29] kamarajuPrathi commented on #4125
i tried multiple ways but it doesnt work , do you have a sandbox or live example

[2020-07-15 03:33] smileservices commented on #3625
I agree that basic form validation is a must to any component meant to function inside a form

[2020-07-15 07:01] MohsenEs opened #4126 "Add button in row"
for example
![2020-07-15_11-27-42](https://user-images.githubusercontent.com/46873097/87513888-a559c180-c68e-11ea-8906-35d6ae8ab672.jpg)

[2020-07-15 07:19] #4123 closed

[2020-07-15 09:51] martijnhalekor commented on #4094
Same issue here.

[2020-07-15 12:40] Komalov commented on #4106
Ok, I got that making input tag be as wide as the whole component does fix the problem. But I am unable to do that manually, because "input" key in custom styles object won't applied for input, it goes for div wrapper above it. Even taking such an input by id from css side gives no results

@bladey is there any possibility to change width for input tag from users side?

[2020-07-15 13:38] jkbmat commented on #3739
Hi @bladey,
this is more like a workaround, as for example `CrossIcon` is also used in `MultiValueRemove`, so you need to override two components just to get a different looking ❌. Also the docs are still wrong, because they list `ClearIndicator` and `DropdownIndicator` as switchable, when they aren't.

[2020-07-15 14:00] kishan-tocca opened #4127 "how can i saw create new option at top by default"
<CreatableSelect
                ref={r => (selectRef = r)}
                value={state.selectedOption}
                components={{ Option }}
                onChange={handleChange}
                options={state.options}
                isMulti
                getOptionLabel={option => option.label}
                getOptionValue={option => option.value}
                placeholder="Filter by

[2020-07-15 14:56] gregmartyn commented on #2706
@onionhammer we're able to get it to work with what feels like a hack:
jsx:
[code]

and in css
.```
.location {
	{rules for the select itself here}
	& .location__control {
		{rules for the select's control here}
	}
}
[code]

[2020-07-15 15:00] kamarajuPrathi opened #4128 "how to make react select as material look , does it have a variant look ?"
any future plans to get the material styling

[2020-07-15 15:48] ebonow commented on #4128
If you close this issue, I can assist you with https://github.com/JedWatson/react-select/issues/4125

[2020-07-15 15:53] ebonow commented on #4127
Hello @kishan-tocca

Have you tried this?
https://react-select.com/props#creatable-props

`createOptionPosition`
[code]

[2020-07-15 16:14] #4128 closed

[2020-07-15 16:15] kamarajuPrathi commented on #4125
@ebonow can you let me know how to do changes for it

[2020-07-15 16:38] ebonow commented on #4126
This is possible, but not without a bit of time.

First, there are many ways a Tree can behave.  Are the "branches" also selectable? Your screenshot seems to imply that they are not and are simply collapsible. How does input in the search field impact your results? Does it filter the branches, the children of the branches or both?

Based on some assumptions from your screenshot, what I would do is